<app-post-body [post]="this.post" [date]="this.post.date">
  <p>This is the official developer writeup for the challenge "A door by any other name" that was created for the <a target="_blank" href="https://digitaloverdose.tech/ctf/2021-autumn"><em class="fas fa-external-link-square-alt"></em> Digital Overdose Autumn 2021 CTF</a>.</p>

<p>The two other writeups published for this event are:</p>
<ul>
  <li><a target="_blank" href="/postx/2021/2021_10_11%2Bdigital-overdose-official-writeup-1-outage"><em class="fas fa-external-link-square-alt"></em> Outage - The usual suspect</a></li>
  <li><a target="_blank" href="/postx/2021/2021_10_11%2Bdigital-overdose-official-writeup-2-a-lying-cake"><em class="fas fa-external-link-square-alt"></em> A door by any other name</a></li>
</ul>


<h3>Summary</h3>

<ul>
  <li><a class='no-underline' routerLink='.' fragment='desc'>Challenge description and statistics</a></li>
  <li><a class='no-underline' routerLink='.' fragment='context'>Context</a></li>
  <li><a class='no-underline' routerLink='.' fragment='writeup'>Writeup</a></li>
</ul>
<hr/>

<br/>

<h3 id='desc'>Challenge description and statistics</h3>
<hr/>
<br/>
<h3 id='context'>Context</h3>
<hr/>
<br/>
<h3 id='writeup'>Writeup</h3>

<br/>
</app-post-body>
