<app-post-body [post]="this.post" [date]="this.post.date">
  <p>DEFCON! It is an event that is somewhat legendary in the hacker community. Sure, it is a conference, with talks, and villages and sponsors, and all that, but it also has parties, and people.</p>
  <p>So I was heading to DEFCON (with a small detour to Jamaica the week before, as one does), where I had set myself up to help run the AppSec Village's CTF event, as well as give a talk there.</p>
  <p>As it turns out however, Vegas makes me a bit of a monkey paw, in the sense that I am quite unlucky there, and as it turns out, Vegas wasn't about to disappoint.</p>
  <p>So I land in Vegas, and rideshare an Uber to the Flamingo, a hotel but a few steps away from the Planet Hollywood (or rather, 20 minutes, because orienting oneself in Vegas is hard).</p>
  <p>Once I'd arrived at the hotel, the first mishap occurred, where I almost was the subject of some form of violence because I'd dared turn around and look enquiringly at the person crying behind me in the escalator, for which I got subsequently threatened. I would do my best to remember I was in the United States, where compassion is a flaw.</p>
  <p>I then went to the hotel lobby, where my card was declined, and I had to use an alternate card and get the rest of the nights sorted on another day (pending a transfer).</p>

  <div class='media-container'>
    <img lazy style='width: 70%;' src='/assets/images/2022/220830-going-to-defcon/view.jpg' alt="The view from the hotel room." />
    <p>View from the hotel room.</p>
  </div>

  <p>Well tired, I crashed in bed and got ready for</p>

  <h2>Day 1</h2>
  <p>Day 1 is a grouping of a few interesting events. The Line to get a badge. The Line to get Merch. And a few events and mixers.</p>
  <p>One could think that DEFCON was in the UK with how much queuing was going on... thankfully I was hanging out with a friend from that region of the world, <a target="_blank" href="https://twitter.com/met_sec" rel="noopener"><em class="fab fa-twitter-square"></em> Abby</a>.</p>
  <p>That being said, I really enjoyed the Queercon mixer.</p>

  <h2>Day 2</h2>
  <p>On the second day is where everything really went downhill. The CTF had started solidly, and I was volunteering at the AppSec Village and helping out <a target="_blank" href="https://twitter.com/mrs_skelli" rel="noopener"><em class="fab fa-twitter-square"></em> Eden</a>, in between finalizing some slides for my talk.</p>
  <p>And then, disaster: my laptop had decided to stop booting.</p>
  <p>As it would then turn out, my laptop's power brick wasn't fantastically rated for the US power grid, and my adapter either, hence my laptop having issues.</p>
  <p>The fix involved unplugging the CMOS and the battery and giving it 5 minutes, but at the time it took a while to find a screwdriver kit.</p>
  <p>I got a spare laptop and was able to finish my talk by slapping my m.2 drive in it, although the time I'd allotted to finish the demo was gone.</p>
  <p>I also met up and had lunch with <a target="_blank" href="https://twitter.com/yafsec" rel="noopener"><em class="fab fa-twitter-square"></em> Edwin</a>, <a target="_blank" href="https://twitter.com/MiFare_Lady" rel="noopener"><em class="fab fa-twitter-square"></em> Chantal</a> and <a target="_blank" href="https://twitter.com/Wietsman" rel="noopener"><em class="fab fa-twitter-square"></em> Wietse</a>, and also went to the DEFCON Holland meetup.</p>
  <p>At the end of the day I did spend a bit of time at the Queercon/Gothcon parties, because that's among the best things at DEFCON.</p>

  <h2>Day 3</h2>
  <p>I don't remember sleeping that night, basically powering through the night and the morning to tweak a few aspects of the talk / partial demo.</p>
  <p>When it was time, I made my way to the Flamingo, and showed up in time for my talk.</p>
  <p>That is when disaster number 2 struck, as the laptop I had been loaned apparently had safeguards against using its HDMI port.</p>
  <p>In much urgency, I then needed to use the AppSec Villages' CTF leaderboard laptop, which quickly lost power and needed an update.</p>
  <p>If I had a demo to give, that was approximately the time that the demo would have taken, so in the end I ended up just giving my talk.</p>
  <p>Thankfully for my very broken down sense of self, the room was packed, and I apparently made the talk enjoyable for a lot of people, so I will still call the whole experience a win.</p>
  <p>The closing statements for the CTF also happened, after which I went to another mixer, and we saw the closing statements by DarkTangent.</p>

  <h2>Overall</h2>
  <p>I met a lot of fun people there, some for the first time IRL and some that I had previously met at other (EU) conferences, such as <a target="_blank" href="https://infosec.exchange/@jilles_com" rel="noopener"><em class="fab fa-mastodon"></em> Jilles</a>, <a target="_blank" href="https://defcon.social/@H4zy" rel="noopener"><em class="fab fa-mastodon"></em> Hazy</a>, <a target="_blank" href="https://twitter.com/keily_sdivx" rel="noopener"><em class="fab fa-twitter-square"></em> Keily</a> and <a target="_blank" href="https://infosec.exchange/@stekkz" rel="noopener"><em class="fab fa-mastodon"></em> Seb</a>.</p>

  <p>Besides that, I met a lot of interesting people at the mixers, and the overall event was a lot of fun! (despite the lack of luck)</p>

  <p>I also had a pretty fantastic haul of stickers:</p>
  <div class='media-container'>
    <img lazy style='max-height: 400px;' src='/assets/images/2022/220830-going-to-defcon/stickers.jpg' alt="Picture of some stickers." />
  </div>

</app-post-body>
