<app-post-body [post]="this.post" [date]="this.post.date">
    <p>Fresh one week after returning from London, where i'd attended this years' BSides event (see this <a href='/post/2024/2024_12_23%2Bbsides-london' target="_blank"><em class="fas fa-link"></em> post</a>), i found myself in a train headed to Hamburg.</p>

    <p>If you remember my blog post about 37c3 (see this <a href='/post/2023/2023_12_31%2Bi-went-to-c3-congress' target="_blank"><em class="fas fa-link"></em> post</a>), you may remember that `${{ '{' }}iteration{{ '} ' }}c3` is a yearly hacker / technology enthusiast meetup, which happens on the days from December 27th to December 30th. And if you've been paying attention, you may realize a discrepancy: why in the world am i going to Hamburg a full 5 days ahead of the conference?</p>

    <p>Well - and this will surprise no one who has been following me for even the smallest amount of time - it turns out i decided to show up early, and help out with build up.</p>

    <p>Now of course, there's plenty of help needed to turn a full conference center into a venue capable of supporting 15000 entities, but in my case i ended up helping out in the Network Operations Center (NOC).</p>

    <p>It may not at first glance make a lot of sense for me to be doing NOC things, as i am more of a software / infrastructure kind of creature, but i enjoy being on average less - but somehow more - predictable.</p>

    <p>But yeah, the NOC is divided into a bunch of teams with different roles, and my bigger contributions were within the Access team, where i was a part of the informal "Special Operations Unit". The job of this Unit, if they choose to accept it - which they usually do because it's fun - is to do the harder or more logistically complex deployments.</p>

    <p>An example was pulling 20m of copper under some stairs and up the side of and along the trim of the roof of an RV to place a 6 GHz AP with directional antenna over the plaza in Hall H (see picture below). Another was placing a similar AP/antenna combo on the railing of the platform over the main entrance, which involved finding out how one even gets there in the first place.</p>

    <div class="media-container">
    <img loading="lazy" alt="picture of a wooden railing, with an AP and a 6GHz extension antenna zip tied to the outside." style="max-height: 400px" src="https://atomicmaya.me/assets/images/post/2025/250109-38c3/funky_ap.jpeg">
    <span><em>keeping the cable jank to a minimum, and the bars to a maximum!</em></span>
    </div>
    <br/>

    <p>Now this is all setup work, but we ended up continuing some shenanigans throughout the event, where people would request getting some form of physical uplink to the network, and where we would go on patch runs to the distribution rooms.</p>

    <div class="media-container">
    <img loading="lazy" alt="picture of maya plugging in cables in a patch room, it has a spare copper cable in its mouth." style="max-height: 400px" src="https://atomicmaya.me/assets/images/post/2025/250109-38c3/patching.jpeg">
    <span><em>cat ears are <g-emoji class="g-emoji" alias="sparkles" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2728.png">✨</g-emoji> mandatory <g-emoji class="g-emoji" alias="sparkles" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2728.png">✨</g-emoji> at 38c3</em></span>
    </div>
    <br/>

    <div class="media-container">
    <img loading="lazy" alt="picture of cables in a patch room, spaghetti is starting to form. a laptop with netbox can be seen propped in an empty space in the rack" style="max-height: 400px" src="https://atomicmaya.me/assets/images/post/2025/250109-38c3/mess.jpeg">
    <span><em>trying to keep the mess to a minimum</em></span>
    </div>
    <br/>

    <p>So if you attended 38c3 and saw a purple haired creature wearing hi-vis zoom past on a scooter with a bunch of cables and a laptop, that was probably me.</p>

    <p>The rest of the time was spent mostly hanging out with friends at various locales within the CCH, or making new friends and meeting interesting people. i did notice my social battery draining quicker than last year - i've started keeping tabs on my mental health in an order to self-preserve better - so i ended up taking some time to just chill and decompress in the NOC, or alternatively taking some me time where i just put on headphones and go on a patch run (the patch rooms are isolated and mostly quiet except for the happy network equipment noises).</p>

    <p>With alyx we also repeated last years' orchestration of a meowing session on the 3rd floor of the congress center, which was once more very popular.</p>

    <p>But yeah, 38c3 went past in a blur. </p>

    <p>At the end came teardown, where we didn't have to spend weeks but merely hours to return the CCH to its pristine state following the principles of plausible deniability, of course following the classical and well-recommended approach of "Safety Second!"</p>
    
    <div class="media-container">
    <img loading="lazy" alt="picture of maya standing on top of a shipping container" style="max-height: 400px" src="https://atomicmaya.me/assets/images/post/2025/250109-38c3/container.jpeg">
    <span><em><g-emoji class="g-emoji" alias="music" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f3b5.png">♫</g-emoji> living in a world of {{'<' }}quickly{{ '>' }}Gemeinsame Deutsche Arbeitsschutzstrategie{{ '<' }}/quickly{{ '>' }} violations <g-emoji class="g-emoji" alias="music" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f3b5.png">♫</g-emoji></em></span>
    </div>
    <br/>

    <div class="media-container">
    <img loading="lazy" alt="picture of a grafana hex dashboard of up/down systems" style="max-height: 400px" src="https://atomicmaya.me/assets/images/post/2025/250109-38c3/down.jpeg">
    <span><em>acceptable downtime: teardown's "what is still up, even?"</em></span>
    </div>
    <br/>

    <p>Thankfully, i didn't make the mistake i made last year, where i had taken a flight to Hamburg and a returning flight on the evening of the 31st, this time electing to take trains from Zurich to Hamburg (a non-trivial 8 to 9 hour train ride). This gave me the ability to bring a bigger suitcase, and to spend New Year's Eve amongst friends before retreating in pleasant company before the fireworks started. </p>

</app-post-body>