<app-post-body [post]="this.post" [date]="this.post.date">
  <p>This June, I had the opportunity to go to one of the famed European Hacker camps.</p>
  <p>If you do not know, in Europe, there are a series of hacker camps in the UK, Germany and the Netherlands which sequentially happen on yearly intervals (one year is one event, every year a different event), and are usually very fun to attend.</p>

  <p>I had not gone to one of these conferences yet, mainly because I had only gotten into the industry during the COVID-19 pandemic.</p>
  <p>When my friend <a target='_blank' href='https://twitter.com/lennaert89' rel='noopener'><em class='fab fa-twitter-square'></em> Lennaert</a> suggested I should come up and join, I thought it would be a pretty cool idea.</p>
  <p>So I ended up doing the 14+ hour bus drive from Geneva to Amsterdam via Paris, and then taking a train to Amersfoort and switching onto another train to Nijkerk.</p>
  <p>At that point, I was picked up by the conference's shuttle service and dropped off at the Zeewolde Scoutinglandgoed, a camping site alongside the Nuldernauw river.</p>

  <p>Despite arriving during the setup, most of the tents and had already been set up.</p>

  <div class='media-container'>
    <img loading="lazy" style="max-width: 400px;" src='/assets/images/post/2022/220729-amsterdam-mch/front-lights.jpg' alt='Picture of the entryway to the camp.' />
    <span><em>The Entryway Lamp Sign</em></span>
  </div>

  <p>I joined up with <a target="_blank" href="https://twitter.com/mrs_skelli" rel="noopener"><em class="fab fa-twitter-square"></em> Skelli</a> and <a target="_blank" href="https://twitter.com/bugbot4" rel="noopener"><em class="fab fa-twitter-square"></em> Night</a>, and we set up our tents on the outskirts of the DIVD & Zerocopter sponsor area (two entities for which Lennaert works).</p>
  <p>Over the course of the event, this led me to meet a lot of interesting people such as <a target="_blank" href="https://twitter.com/yafsec" rel="noopener"><em class="fab fa-twitter-square"></em> Edwin</a>, <a target="_blank" href="https://twitter.com/MiFare_Lady" rel="noopener"><em class="fab fa-twitter-square"></em> Chantal</a>, <a target="_blank" href="https://twitter.com/AstridOosenbrug" rel="noopener"><em class="fab fa-twitter-square"></em> Astrid</a>, <a target="_blank" href="https://twitter.com/Wietsman" rel="noopener"><em class="fab fa-twitter-square"></em> Wietse</a> and <a target="_blank" href="https://twitter.com/TheRealProcyon" rel="noopener"><em class="fab fa-twitter-square"></em> Célistine</a>, etc, as well as "Robbie the Emu":</p>

  <div class='media-container'>
    <ngx-tweet tweetId='1551347001547177987'></ngx-tweet>
  </div>

  <p>As I tend to do, I spent a lot of time volunteering as an Engel (or Angel), specifically helping out on Camera duty, or on Audio or Visual if it was needed.</p>

  <p>Although it involved a lot of running around to make it to shifts, it was a fun moment, and the people involved were great fun as well.</p>

  <p>All in all, I met a lot of fascinating people and had some fantastic experiences.</p>
</app-post-body>
