<app-post-body [post]="this.post" [date]="this.post.date">
    <p>this december, i made my usual pilgrimage to London with the aim of attending BSides London.</p>
    <p>i showed up a bit earlier in the week with the intent of spending some time with my sister and hanging out with some friends that were local for the event, as well as doing some additional networking (whereas last year i was working from the London offices of my former employer).</p>

    <br/>
    <p>on Friday, after a few days of the aforementioned chilling in London, i made my way to Hammersmith, where the conference would be taking place the next day, as i would need to wake up early (0500-0600) the following day to assist <a href="https://bsky.app/profile/ministraitor.bsky.social‬" target="_blank"><em class="lolf lol-bluesky"></em> Cooper</a> in setting up the recording rigs for all 5 tracks before kickoff.</p>
    <p>the bsides volunteers and sponsors were generally quite chill, but the staff hired by the venue to do onsite A/V were somewhat close-minded and bad with the concept of gender, which is something which i noticed to be a more general declining trend in the UK (but that is more a political / societal matter and not really the subject of this post).</p>

    <br/>
    <p>much like last year (which you can read about in <a href='/post/2024/2024_12_23+bsides-london' target="_blank"><em class="fas fa-link"></em> this blog post</a>), i also did not give a talk at this event, finally shedding the necessity for the existence of the "maya don't speak at bsides" challenge.</p>
    <p>i did however spend some time chatting with acquaintances and friends that i had not seen in a while, which was quite refreshing.</p>
    <p>the day went by quickly, and the afterparty was quite nice and fizzled out calmly into the night, where i then got a well-deserved rest.</p>

    <br/>
    <p>the next day was simply a matter of waking up, getting ready, catching the Lizzy line and heading to the airport to catch a flight home.</p>
</app-post-body>