<app-post-body [post]="this.post" [date]="this.post.date">
So during the X-mas holidays I was voluntold by the Swiss government to do some work for the Swiss Civil Protection Service. Being the height of the Omicron wave, they apparently needed people helping out in the vaccination centers, distributing paperwork for those that had gotten their shots.
This wasn't initially  too much of an issue, as I'd gotten half of the three week work period off due to the volume of university assignments I still had to finish. The regional supervisor also placated certain concerns of mine by declaring that no-one in the service had caught COVID.

However, the vaccination center was held in a center for public activities, that did not have sufficient ventilation. It being the middle of winter meant we couldn't just pop open a window either. People were also masking although often reluctantly or incompletely.

Mix that to us processing some 2-3 thousand people in an 8-hour shift, and some people having a slight cough and the probability of being asymptomatic, and you get a cesspool of infectivity.

Day after day, doctors were suddenly not there anymore, having caught COVID. New year comes around, meaning we get 4 days off. I eturn for my shift on the day following New Year's Day, and I'm feeling tired, but I put that on the back of my habitual bad sleeping patterns and the fact I was still writing some reports for classes.

In the evening I grow suspicious of my tiredness however, and decide to use a self-test. Lo and behold, it is positiive, and very beautifully so!

<div class='media-container'>
  <img src='' alt='A picture of a COVID self-test, with the control line coloured magenta, and the test line coloured a reddish purple.' />
</div>

So I have COVID. That sucks.

The next day, I get a formal test and get discharged from the service.

So how did I recover?

What followed were some of the most unpleasant days of my life, where I was sleeping very poorly, and getting exhausted very quickly. I was even able to capture these metrics on my watch:

<div class='media-container'>
  <img src='' alt='A screenshot of the GARMIN watch app, specifically the stress evaluation section.' />
</div>

As you can see I was getting really wrecked by COVID, and only started getting back to what I believed was a normal rhythm and recovery a week later or so.

[EDIT 2022]

It turns out that for day-to-day living I was generally okay. What I was missing was the fact that for sports, I wasn't going to recover my stamina to the same level for about 3 months, which really sucked.

That motivated me to be more rigorous in my masking practices as a general rule of thumb.
</app-post-body>
