<app-post-body [post]="this.post" [date]="this.post.date">
  defcon recap
    - link to previous event blog post /post/2022/2022_08_30+heading-for-DEFCON/
    - what is defcon
    - what do people do there
  travel
    - travelling from Heathrow with friends, via seatac, onwards to Vegas
    - bumping into the 0copter crowd and hanging around for a few beers
  day 1
    - linecon (hadn't gotten prereg tix)
    - no badge?
    - swag linecon
    - hanging out
  day 2
    - queercon meetup, meeting shaun again
    - Meeting up with hazy and endsu
    - queercon party + gothcon
    - Checking out the ASV ctf  (due to involvement last year)
  day 3
    - hanging outs
    - queercon meetup
    - feet hurt, hanging out some more with hazy, miana, and the lot
  day 4
    - packing up
    - travelling to the airport
  day +1
    - landing in london, hotswapping suitcase
    - going on to c3 :) -> /post/2023/2023_08_21+i-went-to-c3camp/

  open things?
    - when did I Actually meetup with Miana (Discord)
    - bumping into m3dus4 + Malort (twitter)

</app-post-body>
