<app-post-body [post]="this.post" [date]="[2020, 10, 19]">
  <p>On the weekend of the 17th of October 2020, I had registered to view the talks given at <a href="https://conint.io">conINT</a> 2020.</p>
  <p>I actually was able to catch a few talks live, notably:</p>
  <ul>
    <li>The opening keynote, by <a target="_blank" href="https://twitter.com/BenDoBrown" rel="noopener"><em class="fab fa-twitter-square"></em> Benjamin Strick</a><br/>
      This talk really has some mind blowing OSINT tricks and is a really good introduction to it's uses;</li>
    <li>"A Beginners Guide to Shodan", by <a target="_blank" href="https://twitter.com/AlanTheBlank" rel="noopener"><em class="fab fa-twitter-square"></em> Alan O'Reilly</a><br/>
      A pretty good overview of the uses of Shodan, which I'm still majorly unfamiliar with;</li>
    <li>"Turning Information into Intelligence", by <a target="_blank" href="https://twitter.com/osintcombine" rel="noopener"><em class="fab fa-twitter-square"></em> Chris Poulter</a><br/>
      An in-depth differentiation between information & intelligence, the differences and how to go from the former to the latter;</li>
    <li>"Mind Hacks - Psychological profiling, and mental health in OSINT investigations", by <a target="_blank" href="https://twitter.com/NicoleBeckwith" rel="noopener"><em class="fab fa-twitter-square"></em> Nicole Beckwith</a><br/>
      A pretty awesome talk on the psychological impact of working with OSINT and how to compartmentalize in a healthy way;</li>
    <li>"Offensive OSINT - A guide on how effectively use OSINT during Penetration Testing and Red teaming engagements", by <a target="_blank" href="https://twitter.com/bsdbandit" rel="noopener"><em class="fab fa-twitter-square"></em> Charles Shirer</a><br/>
      Tools, many tools, the best tools;</li>
    <li>"Using Intelligence to Defend Against Ransomware", by <a target="_blank" href="https://twitter.com/BushidoToken" rel="noopener"><em class="fab fa-twitter-square"></em> Will Thomas</a><br/>
      An awesome talk about monitoring the ransomware threat landscape;</li>
    <li>"OSINT: Getting Started", by <a target="_blank" href="https://twitter.com/secure_coffee" rel="noopener"><em class="fab fa-twitter-square"></em> Siobhan Kelleher</a><br/>
      An awesome introduction to the ingress points in using OSINT, and what mistakes not to make, and how to effectively pivot;</li>
  </ul>
  <p>I caught up with the rest later, on <a target="_blank" href="https://www.youtube.com/channel/UCBtSOceclpKcvunVNw82tFQ" rel="noopener">conINT's YouTube channel</a>.</p>
  <br/>
  <p>Once that was done, I thought my weekend was over. Only a few moments later did I understand that the nagging sensation in my gut was my desire to participate in the Tracelabs Global Search CTF, the day after.</p>
  <p>I'd never participated in an OSINT CTF, so -- after a few organizational misshaps -- I teamed up with <a target="_blank" href="https://twitter.com/danjconn" rel="noopener"><em class="fab fa-twitter-square"></em> Dan Conn</a> (whom I'd met on Infosec Happy Hour) and <a target="_blank" href="https://twitter.com/KathrynMcBain" rel="noopener"><em  class="fab fa-twitter-square"></em> Kathryn</a>.</p>
  <p>We started out a bit haphazardly, unsure of how to progress -- although we had a few helpful tips and tricks from <a target="_blank" href="https://twitter.com/AngusRedBlue" rel="noopener"><em class="fab fa-twitter-square"></em> Charles Wroth</a>.</p>
  <br/>
  <p>For obvious reasons, I can't get into the missing people's details. What I can get into though, is how we got -- or failed to get -- some of it.</p>
  <ul>
    <li>My main tool was Google. By using a process known as "Google dorking", I could get some pretty pertinent information about an MP (aka. Missing Person), including a name change in public records, which could very well still be used as an alias.</li>
    <li>To map the missing people's family, the tool of choice was Facebook. One MP's aunt had actually listed their entire family in the 'About' section of her profile.<br/>
      One of the areas where I was lacking was finding an MP's account using advanced search, as their last location mixed with their first name could've gotten us the account.</li>
    <li>Additionally, the link between Facebook and Instagram could've been coupled with some Yandex reverse image search to find another MP's main Facebook account.</li>
    <li>We managed to find a current address (I think) for one of the MP's in the white pages, and comparing it with real estate sites for that area to see when it was sold.</li>
    <li>For LinkedIn, I found a nifty little trick to not alert a user their profile had been visited (<a href="#osint-linkedin">later</a>).</li>
    <li>In terms of text in a foreign language, using Google Translate's language detection feature was used to confirm that the person writing a post at least knew of the same language as the MP, raising the likelyhood they were one and the same.</li>
  </ul>
  <br/>
  <p>All of this generated some pretty good leads, and scored us a pretty nice sum of points, landing us at the 37th place on 125 participating groups, which -- in my modest opinion, is pretty awesome !</p>
  <p>Although we didn't win -- realistically not really feasible, it was a really fun and challenging experience !<br/>I got better at finding valuable information, at searching for specific data and using advanced search tools.</p>
  <p>One of the tricks I used was even nominated for an MVO (Most Valuable OSINT) award -- which we didn't win, but was nice nevertheless. I'll get to said trick slightly <a routerLink="." fragment="osint-linkedin">later</a>.</p>

  <br/>
  <p>In the future I would like to at least take a gander at dehashed and searching for user credentials in dumps, a Global Search CTF being one of the only legitimate reasons to learn more about it.</p>
  <br/>
  <p>For our involvement, we received a Badgr virtual badge (below) !</p>
  <div class="media-container">
    <a target="_blank" href="https://eu.badgr.com/public/assertions/MQdX13sdSNiNAoBCBHkKgQ" rel="noopener">
      <img class="profile" src="https://api.ca.badgr.io/public/assertions/D6eDo8KHS7mw9kpn0nnMxA/image" alt="The Badgr TraceLabs CTF badge."/>
    </a>
  </div>
  <br/>

  <h5 id="osint-linkedin">The OSINT trick I mentioned earlier</h5>
  <p>This trick is used to get a copy of the public LinkedIn profile without pinging it -- without having a premium / recruiter account, obviously -- thus respecting the no-touch rule set up by the CTF.</p>
  <p>Step 1: Copy the LinkedIn profile link.</p>
  <p>Step 2: Open <a target="_blank" href="https://search.google.com/test/mobile-friendly" rel="noopener">Google's Mobile Friendly site tester</a>.</p>
  <p>Step 3: Paste in the LinkedIn profile link and solve the CAPTCHA.</p>
  <p>Step 4: Once the redirect is over, go to the HTML tab to the right of the page and copy the HTML code.</p>
  <p>Step 5: Create a <code>.html</code> file on your machine, open it in your favorite editor (or Notepad, who cares), and paste the HTML code in.</p>
  <p>Step 6: Open the <code>.html</code> file in your browser.</p>
  <p>Step 7: ?</p>
  <p>Step 8: Profit.</p>
</app-post-body>
