<app-post-body [post]='this.post' [date]='this.post.date'>
<p>This is the official developer writeup for the challenge 'Outage - The usual suspect' that was created for the <a target='_blank' href='https://digitaloverdose.tech/ctf/2021-autumn'><em class='fas fa-external-link-square-alt'></em> Digital Overdose Autumn 2021 CTF</a>.</p>

<p>The two other writeups published for this event are:</p>
<ul>
  <li><a target='_blank' href='/post/2021/2021_10_11%2Bdigital-overdose-official-writeup-2-a-lying-cake'><em class='fas fa-external-link-square-alt'></em> A door by any other name</a></li>
  <li><a target='_blank' href='/post/2021/2021_10_11%2Bdigital-overdose-official-writeup-3-c4'><em class='fas fa-external-link-square-alt'></em> C1 - I think this should be C4</a></li>
</ul>

<h3>Summary</h3>

<ul>
  <li><a class='no-underline' routerLink='.' fragment='desc'>Challenge description and statistics</a></li>
  <li><a class='no-underline' routerLink='.' fragment='context'>Context</a></li>
  <li><a class='no-underline' routerLink='.' fragment='writeup'>Writeup</a></li>
</ul>
<hr/>

<br/>

<h3 id='desc'>Challenge description and statistics</h3>
<div class='media-container'>
  <img src='/assets/images/2021/211011-ctf/outage/description.png' alt='Challenge description on RACTF'>
</div>

<p>The text reads:</p>

<p>Digital Overdose has a website, and you can access some information about it without really needing to visit, a bit like a phone book of sorts.</p>

<p>Find the flag :)</p>


<p>Out of the 63 correct submissions (First blood by <a target='_blank' href='https://twitter.com/pidnull' rel='noopener'><em class='fab fa-twitter-square'></em> pidnull</a>), this challenge was rated 100% by all contestants.</p>

<hr/>
<br/>
<h3 id='context'>Context</h3>
<p>There is a quite a common meme nowadays when it comes to availability outages on the Internet, because it usually comes down to the same exact type of failure, most accurately summed up by:</p>

<div class='media-container'>
  <ngx-tweet tweetId='891806269626957824'></ngx-tweet>
</div>

<hr/>
<br/>
<h3 id='writeup'>Writeup</h3>

<p>As such, the title was already enough for most people to solve the challenge. If the player was unaware of this though, that is where the description comes in: What data can you get about a website, without visiting it. Bonus points if it is "Like an address book".</p>

<p>This question has a few simple answers:</p>
<ul>
  <li>WHOIS data</li>
  <li>Page metadata</li>
  <li>DNS records</li>
</ul>

<p>When considering DNS, one needs to think about what type of records could be used to store information. The obvious response would be TXT records:</p>

<div class="d-flex media-container">
  <markdown ngPreserveWhitespaces lineNumbers >
```txt
$ dig -t txt digitaloverdose.tech
; <<>> DiG 9.11.3-1ubuntu1.11-Ubuntu <<>> -t txt digitaloverdose.tech
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 57034
;; flags: qr rd ad; QUERY: 1, ANSWER: 5, AUTHORITY: 0, ADDITIONAL: 0
;; WARNING: recursion requested but not available

;; QUESTION SECTION:
;digitaloverdose.tech.          IN      TXT

;; ANSWER SECTION:
digitaloverdose.tech.   0       IN      TXT     "keybase-site-verification=YzZfhDKfOJdQ2b2Z_mMITYSzjQIN9Qd7dfYkQ5sz77k"
digitaloverdose.tech.   0       IN      TXT     "google-site-verification=qN3ndcZtU8mXrY_HbsDCQeSzel93DrZAWidDZ5Ol1gY"
digitaloverdose.tech.   0       IN      TXT     "DO{{ '{' }}1T$_4LW4Y$_DN5{{ '}' }}"
digitaloverdose.tech.   0       IN      TXT     "google-site-verification=SNWrpKpmjvLywAg9yOnJ7f5aCy7rqMvWQZwHyVEc7yE"
digitaloverdose.tech.   0       IN      TXT     "v=spf1 include:spf.efwd.registrar-servers.com ~all"
```
  </markdown>
</div>

<p>Huh, what's that in line 15? It is a flag!</p>

<p>The flag is <code>DO{{ '{' }}1T$_4LW4Y$_DN5{{ '}' }}</code></p>
</app-post-body>
