<app-post-body [post]="this.post" [date]="[2021, 01, 03]">
  <p>You may have noticed that I frequently drop out of contact, then pop back into view a few weeks later and retro-date some new articles.</p>

  <p>What I'm not necessarily entirely open about is my mental health, but I've been feeling the weight of the pandemic on my social life and usual activities in cycles.</p>

  <p>I still get stuff done, just at a different pace, and I usually don't feel like posting here or on various platforms in those times.</p>

  <p>Talking with friends and exploring new things is pretty important to me, and the pandemic has made it harder and different, so it seems like these cycles are a consequence of not balancing my activities correctly, which I'm trying to handle.</p>
</app-post-body>