<app-post-body [post]="this.post" [date]="[2021, 01, 19]">
  <p>I had the distinct privilege of being interviewed on eNCA yesterday !</p>

  <p>
    <a href="https://www.enca.com/" target="_blank" rel="noopener">eNCA</a> -- a.k.a. e-News Channel Africa -- is the first and most watched news service in South Africa. You can imagine that it came as a bit of a shocker to me to receive a message request in my Twitter DM's from one of their guest bookers, asking me if I'd like to come on and discuss these policy changes. So I decided to do it:</p>

  <div class="media-container">
    <iframe width="560" min-width="70%" min-height="350px" height="350px" src="https://www.youtube-nocookie.com/embed/J87ZGr8eplQ" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="eNCA Interview on the WhatsApp matter."></iframe>
  </div>

  <br/>

  <p>A great thank you to the host (Dan Moyane) for their professionalism, as well as their accurate and neutral questioning. Remaining in the same observational stance as my article -- and not a confrontational stance -- allowed us to cover a lot of ground and enabled  me to additionally dispel a few myths and hoaxes while I had a platform. I know it may not have seemed to be a professional interview (mainly due to my part in it), but it was an opportunity for honest and open discourse, and that alone is quite humbling for me. I wish to extend my thanks to eNCA for taking the time to view privacy as an important matter, important enough that it should be discussed on their platform.</p>

  <p>I can only hope that people got enough material from that interview to start an open and honest discourse on matters important to society as we move forward in a world where we cannot live without Big Tech.</p>

  <p>As for how I had landed in their field of vision, I only know a part of the story:</p>
  <ol>
    <li>Vocally criticizing the WhatsApp policy in voice chat on Hack South.</li>
    <li>Discussing this with <a target="_blank" href="https://twitter.com/uid883" rel="noopener"><em class="fab fa-twitter-square"></em> Christo</a>  alongside <a target="_blank" href="https://twitter.com/BeeFaauBee09" rel="noopener"><em class="fab fa-twitter-square"></em> Ibad (Bee)</a> on HackSouth (<a href="/postx/2021/2021_01_09+WhatsApp-Privacy-Policy-Changes-Discussion-at-Hack-South" target="_blank" rel="noopener">see here</a>).</li>
    <li>Publishing <a href="/postx/2021/2021_01_08+WhatsApp-Privacy-Policy-Changes-Analysis" target="_blank">my article</a>.</li>
    <li>?</li>
    <li>Getting the proposition.</li>
  </ol>

  <p>Many thanks to those that spread my article and gotten me there, you have had a significant impact in my life.</p>

  <div class="media-container"><em class="fas fa-2x fa-heart" [style]="{'color': '#EC2E4A'}"></em></div>
</app-post-body>
