<app-post-body [post]="this.post" [date]="this.post.date">
  <p><g-emoji class="g-emoji" alias="tada" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f389.png">🎉</g-emoji></p>
  <p>This blog - or rather, a collection of my brain dumps - has been going strong for the last 3 years, spanning 54 blog posts since the <a href='/post/2020/2020_10_15%2BHello-world' target="_blank"><em class="fas fa-link"></em> first blog post</a>, which was released on October 15th, 2020.</p>

  <p>The whole blog today is not necessarily reflective of the content as it was when published, as this blog has actually gone through a number of retcons, redactions and corrections through the years, for various reasons.</p>

  <p>It sometimes surprises people that they have missed 4-5 of my blog posts in a row, and that's completely normal, as I usually have a running backlog of blogposts I haven't yet published (or <em>backblog</em>, if you will), and only get to writing at moments where I have sufficient spoons to do so.</p>

  <p>I only write when I feel like it, and this helps me get into a more narrative mood, which in my opinion makes the content richer for the eventual reader.</p>

  <p>So, what now?</p>

  <p>Well, these blog posts will continue to be published sporadically and infrequently, and I'm going to continue living my life and enriching my experiences.</p>

  <p>I do plan on someday adding some more technical write-ups on here, such as the ones currently hosted on my GitHub for various TryHackMe rooms, but that's a sizeable project for <em>later</em>.</p>
</app-post-body>
