<app-post-body [post]="this.post" [date]="this.post.date">
  <p>Last year, I ended up going to SteelCon, known and loved by many as the "North's Premier Hacker Con".</p>

  <p>For myself, it was not a place of honor, as I ended up instilling fear in the audience of a talk I was giving, which pertained to my so-called alleged "JavaScript war crimes". I wrote a blog post about this, which you can find <a href='/post/2023/2023_07_12%2Bjavascript-war-crimes-at-steelcon' target="_blank"><em class="fas fa-link"></em> here</a>.</p>

  <p>This year, I had once more submitted a talk, this time one which would not require an understanding of the intricacies of JavaScript</p>

  <p>Rather, I had opted to write a talk which would tap into the frustration of attendees when dealing with cybersecurity at small or medium businesses, whether a startup or a "former" startup (the ones where they're still cool, promise!)</p>

  <br/>
  <p>It was titled <em><q>Post-startup (security) growing pains: 'Hi, it's me, I'm the risk'</q></em> and had this to say about itself:</p>

  <blockquote>
  <p>Many of us have heard the phrase "We're a startup, things have to go fast!"", but what happens when said startup matures a bit and slowly transitions to a small business?</p>

  <p>I'm less interested in the journey itself, but rather the likely conclusion that everything is set to defaults, everyone is using personal devices, and everything is one unlucky event from becoming a dumpster fire.</p>

  <p>This talk will address how, sometimes in trying to make it so one less path could lead to immediate disaster, we inadvertently break something (or everything, oops), and how to put maximum effort into <em>not</em> doing that whilst also maintaining focus when confronted with diverging interests.</p>
  </blockquote>

  <br/>
  <p>It was fun to build up, and fun to deliver, although as I stated at the end, it ended up being therapeutic as well.</p>

  <p>Alice McGready wrote a report of the conference on ID Cyber Solutions' website, and was so kind as to mention my talk and her takeaways (you can find the blogpost <a href='https://www.cybertraining.uk/blogs/post/steelcon-2024' target="_blank"><em class="fas fa-external-link-square-alt"></em> here</a>).</p>

  <p>The video isn't up on YouTube yet, but you can find it <a href='https://drive.proton.me/urls/E848B2MCZ8#6eZ3ZaDEXSD4' target="_blank"><em class="fas fa-external-link-square-alt"></em> here</a>.</p>
</app-post-body>
