<app-post-body [post]="this.post" [date]="this.post.date">
  <p>A year or so ago, I got a job working on a European Commission project via my university (see related blogpost <a href='/post/2022/2022_02_18+starting-a-new-job/' target="_blank"><em class="fas fa-link"></em> here</a>).</p>

  <p>This contract recently expired, and was also tied to the end of my Master's degree, which I obtained recently (see related blogpost <a href='/post/2023/2023_02_15+msc-fun/' target="_blank"><em class="fas fa-link"></em> here</a>).</p>

  <br/>
  <p>So I found myself on the job market... or did I?</p>

  <p>It turns out that I had already been talking to someone back in November, and that halfway through March, we were able to get a contract sorted and a <em>me</em> gainfully employed.</p>

  <p>Now for <code>[REASONS]</code> (read "brackets reasons"), I will not be publicly disclosing what I do nor who for yet.</p>

  <p>For all intents and purposes, for now I am a <code>[EMPLOYEE]</code> at a <code>[COMPANY]</code>, and that is it.</p>
 </app-post-body>
