<app-post-body [post]="this.post" [date]="this.post.date">
  <p>If you follow along with this blog, you may have noticed it simply lies dormant for months at a time before suddenly being filled with a series of new posts, magically from times when you thought the blog had not been updated.</p>

  <p>Please do not question your sanity in these regards, but rather question mine, as, since September 2021, I have in fact been undertaking my Master's Degree in Information Systems and Services here at the University of Geneva, and mildly neglecting my blog, which I resolve when I have the time by backdating my posts.</p>

  <p>I am relieved to say that that is no longer the case, as I have in fact spent most of the last two months writing my M.Sc. thesis, defending it on Feb. 8th, subsequently getting all the credits necessary to finish my M.Sc.</p>

  <p>The thesis itself was titled <em>"The 'FUNK' in 'IoT' stands for 'Field Unburdened (by the) Necessary Knowledge'"</em> (a pun on <em>"The 'S' in 'IoT' stands for 'Security'"</em>, and revolved around how skimping on security topics when teaching IoT development could lead to the current IoT threat landscape.</p>

  <p>If you want to read it, drop me a message or an email.</p>

  <p><em>As this may be of import, the Swiss grading system is from 0 to 6, with the latter being the highest attainable grade.</em></p>

  <p>All in all, I got 6 for my thesis, and scored an average of 5.68 overall in my curriculum, which is wonderful.</p>

  <p>I am super happy about this, albeit still processing it.</p>

  <p>But that's me now done with Academia. Wahey!</p>
</app-post-body>
