<app-post-body [post]="this.post" [date]="this.post.date" [edited]="[2022, 07, 12]">
<p>Someone employed me! What a surprise!</p>

<p>Just kidding... or am I? It turns out that my university is part of a consortium that work on the nIoVe project for the European Climate, Infrastructure and Environment Executive Agency (or CINEA, for short), as part of the Avenue project under the Horizon 2020 initiative of the European Union Commission.</p>

<p>Okay, those were a lot of words, but you still don't know what it's about.</p>

<p>The short of the matter is that I was hired as a software/application security engineer to work on one of the various modules UNIGE was the steward for, specifically the Risk Assessment Engine.</p>

<p>Sounds fun!</p>

<hr/>

<h4><em>EDIT 2022</em></h4>

<p>It turns out that in the long run, I've interacted on a few more modules than expected.</p>

<p>I've so far contributed to the aforementioned Risk Assessment Engine, the Anomaly Detection Toolkit, a bit to the TCP-IP analyzer, and also produced attack scripts such as SQL injection, brute force login, DoS and XSS scripts for testing the project infrastructure.</p>

</app-post-body>
