<app-post-body [post]="this.post" [date]="this.post.date">
Someone employed me! What a surprise!

Just kidding... or am I? It turns out that my university is part of a consortium that work on the nIoVe project for the European Climate, Infrastructure and Environment Executive Agency (or CINEA, for short), as part of the Avenue project under the Horizon 2020 initiative of the European Union Commission.

Okay, those were a lot of words, but you still don't know what it's about.

The short of the matter is that I was hired as a software/application security engineer to work on one of the various modules UNIGE was the steward for, specifically the Risk Assessment Engine.

Sounds fun!

[EDIT 2022]
It turns out that in the long run, I've interacted on a few more modules.


RAE, Anomaly Detection Toolkit and contributed a bit to the TCP IP Analyzer
</app-post-body>
