<app-post-body [post]="this.post" [date]="[2020, 11, 12]">
  <p>One of the things I've been trying to get better at in these late months of 2020, is the litterature surrounding processes and the nomenclature of CyberSec.</p>
  <p>To that end, I've started reading some books!</p>
  <p>Upon the recommendations of <a target="_blank" href="https://twitter.com/TJ_Null" rel="noopener"><em class="fab fa-twitter-square"></em> TJ Null</a> I've started reading two books related to InfoSec.</p>
  <p>Currently, I'm on "Penetration Testing: A Hands-On Introduction to Hacking (1st Edition)" by <a target="_blank" href="https://twitter.com/georgiaweidman" rel="noopener"><em class="fab fa-twitter-square"></em> Georgia Weidman</a>, which is a pretty cool introduction to the field and it's concepts, although some of the procedures are a bit dated.</p>
  <br/>
  <p>My next reading project will be "Attacking Network Protocols: A Hacker's Guide to Capture, Analysis, and Exploitation" by <a target="_blank" href="https://twitter.com/tiraniddo" rel="noopener"><em class="fab fa-twitter-square"></em> James Forshaw</a>, which promises to be an interesting read as well.</p>
</app-post-body>
