<app-post-body [post]="this.post" [date]="this.post.date">
<p>Saying that 2021 has been a hell of a year so far is a bit of an understatement. We are mostly halfway through it, so I thought it would be a fantastic moment to have a little hindsight and recap what has happened, in the world surrounding me and also in my own personal and professional lives.</p>

<h2>The 2020's Arc main antagonist: COVID-19</h2>
<p>It is hard to believe we have been living with COVID-19 for the last year and a half, more or less 70 weeks, since restrictions came into place to prevent the spread of one of the deadliest pandemics in recent history.</p>
<p>These restrictions meant that I could not go to university to study as I had for the previous 1.5 years and forced me to adopt a more digital lifestyle. I made new friends, a lot of which are still my friends today, joined communities and was involved in various events, all of which would not have happened if not for the pandemic. COVID-19 was a pillar in my transition into the domain of infosec, so it is not all bad (it can end any day now, please).</p>

<h2>The road so far</h2>
<p>In the months preceding the new year, I participated in my first TraceLabs OSINT CTF and gave my first public talk in October, at BeerCon2.</p>
<p>In November, I gave a variation of that talk at BSides Islamabad and at some point later on, I joined the Digital Overdose and Gateway communities as a moderator.</p>
<p>When December rolled up, my academic semester was entering recess before the late January exam period, but I had the time to float an idea for a <em>rookies</em>-only conference, hosted in Digital Overdose.</p>

<h2>January</h2>
<p>Starting right off the bat on January 3rd, I gave a small talk in the Gateway server on procedural OSINT, which went well, except for the recording.</p>
<p>On January 7th, I became an "Admin" (now called Community Manager) in Digital Overdose, where I'd help steer the ship.</p>
<p>In the midst of the WhatsApp Privacy Policy crisis I took a while to read through the documentation and wrote an article that showed a few of the issues therein, which I then discussed with <a target="_blank" href="https://twitter.com/uid883" rel="noopener"><em class="fab fa-twitter-square"></em> Christo</a> and <a target="_blank" href="https://twitter.com/BeeFaauBee09" rel="noopener"><em class="fab fa-twitter-square"></em> Ibad (Bee)</a>. Someone at eNCA -- South Africa's primary news broadcaster -- caught wind of it and a few days later I was invited to discuss this on eNCA. Considering I had very little media training (see: none), it went astonishingly well, although I definitely need to work on background and discussion skills.</p>
<p>On January 17th and 31st, I gave a talk on the recommendations on IoT security provided by the EU's Cybersecurity Agency (ENISA) at the Leeds Ethical Hacking Society and DEFCON 441905 Worcester respectively.</p>
<br/>
<p>As you can see, the month of January was in fact quite complicated and full of events, but I also needed to work a bit on the academic side of things.</p>

<h2>February</h2>
<p>In February, I had my exams, which related to Design Science, Information and Communication Technologies, Transversal Projects and the like. It was a bit harrowing, but I got through it mostly unscathed (92.5% compound average score).</p>

<br/>
<p>In the meantime I had also built the <a target="_blank" href="https://busyconf.com" rel="noopener"><em class="fas fa-external-link-alt"></em> Digital Overdose website</a>, and we announced Digital Overdose Con and opened its Call For Participants (CFP).</p>

<p>Later in the month I participated with team Hack South in the TraceLabs OSINT CTF, wherein we came 17th, which felt nice.</p>

<p>Since this year's CircleCityConference was virtual, I helped out with CFP reviews, which was a lot of fun.</p>

<p>February was a bit of a hectic month, but it was overall a better and calmer experience.</p>

<h2>March</h2>

<p>In comparison to the above, March was a "slow" month.</p>

<p>Most of March was basically starting a new semester, and learning things, as well as starting my Bachelor's project (I'll write a post on that soon).</p>

<p>With Digital Overdose Con, we finalized our CFP, proceeded to a blind review, and then announced the speakers, with a number of bumps in the road.</p>

<p>Later on, I helped out at the PlaySecure Conference, moderating the Gather space it was taking place in.</p>

<p>To finish the month, I became a "Hacking is NOT a Crime" (HINAC) advocate.</p>

<br/>
<p>To summarize, March was a bit chaotic, but not too much, which is good. In that time I also learned a bit more about myself and how being driven by the wrong motivations can backfire, which wasn't fun but definitely immensely valuable.</p>

<h2>April</h2>
<p>April was one of the most chaotic months I'd ever experience, mostly surrounding Digital Overdose Con.</p>

<p>From the mentoring, planning the schedule of the conference, building up stream assets and testing the infrastructure, it was definitely a wild ride.</p>

<p>The day of, I was totally stressed (which viewers will have seen), but once I saw it was going well I relaxed a bit and went along for the ride.</p>

<p>A few accidents later, one involving replacing an empty slot with a panel of ex-rookies, we finished up the conference with an after-party hosted by none other than Dan Conn.</p>

<p>A few days of A/V later, and all the videos became publicly accessible on YouTube.</p>

<p>Then I went back to the academic life to catch up on all the stuff I'd missed out on.</p>

<p>If I'm co-organizing anything like that again, I will definitely do it with more people, because it really helped redefine an insane schedule.</p>

<h2>May</h2>

<p>May was more relaxed, and I mostly only got involved in moderating DEFCON's AppSec Village Discord server and building a few challenges for their CTF at RSAConference.</p>

<h2>June</h2>

<p>June was a pretty standard month, with a few community engagements and a university exam session.</p>

<p>Mid-june I helped out at CircleCityCon as a member of the Safety Operations crew.</p>
<p>I later went on to give a talk at the Open Security Summit, as well as spawn an idea for a table-top asymmetric card game (which is another topic for another time).</p>

<br/>
<p>Finally, I had some exams, which related to Security of Information Systems, Object-Oriented Concepts and Languages, a project and my Bachelor's project thesis to present. It was once again a bit harrowing, but I managed to get a 98.7% compound average score.</p>

<p>This was my final semester for my Bachelor's degree in Information Systems and Services Science, which I can now say I've acquired -- pending the piece of paper -- with a compound average score of 89.7%, something I'm quite proud of.</p>

<h2>Conclusions</h2>

<p>This first half of 2021 was quite exciting, and I have a few interesting things in the pipeline for the second half, but I guess you'll just have to discover it mostly at the same time as I am.</p>

<p>And yes, I am planning on taking a break to recharge my batteries.</p>
</app-post-body>
