<app-post-body [post]="this.post" [date]="this.post.date">
    <p>As some people may know, I've gotten more and more involved with the organizational side of things at various BSides events.</p>

    <p>This did not change with the latest BSides Newcastle, where I somehow failed at the "maya don't speak at BSides" challenge during presides, as I ended up being voluntold by <a href="https://bsky.app/profile/coffeefueled.org" target="_blank"><em class="lolf lol-bluesky"></em> James Bore</a> to give a short talk.</p>
    
    <p>For the rest of the event, <a href="https://bsky.app/profile/anguasec.bsky.social" target="_blank"><em class="lolf lol-bluesky"></em> AnguaSec</a> asked me to take charge of the on-site logistics and installation for <a href="https://bsky.app/profile/ministraitor.bsky.social" target="_blank"><em class="lolf lol-bluesky"></em> Cooper</a>'s A/V rigs, and to roam around to make sure that everything was running about as promptly as is to be expected (that is to say, only a manageable amount of "on fire").</p>
    
    <p>Cue Maya, in a <em>beautiful</em> (/s) yellow volunteer t-shirt, with a radio in her ear, running around the event trying to make sure that speakers were able to give their talks without too many disruptions.</p>

    <div class="media-container">
    <img loading="lazy" alt="Picture of Griffith Observatory, taken from the road going down to LA" style="max-height: 400px" src="/assets/images/post/2024/241015-bsides-newcastle/av-maya.jpg">
    <span><em>if you see her in a rush, don't stand in her way</em></span>
    </div>
    <br/>
    
    <p>After the event we did end up having to fix some of the recordings in post-production, but this was a task I was more than happy to assist Cooper with, to make sure that the speakers had some form of proof of their involvement in the conference.</p>
    
    <p><g-emoji class="g-emoji" alias="sparkles" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2728.png">✨</g-emoji><em>no one will comment on the equivalent of 18 espressos worth of caffeine that were consumed that morning.</em><g-emoji class="g-emoji" alias="sparkles" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2728.png">✨</g-emoji></p>    
</app-post-body>