<app-post-body [post]="this.post" [date]="this.post.date">
  <p>After writing and defending my M.Sc. thesis (see the <a href='/post/2023/2023_02_15+msc-fun' target="_blank"><em class="fas fa-link"></em> related blogpost</a>), I had scheduled to head out to Cardiff for BSides Cymru and give a talk there, in the village operated by the <a href='https://transtechtent.com' target="_blank"><em class="fas fa-external-link-square-alt"></em> Trans Tech Tent</a>.</p>

  <p>I took an extended weekend and landed in Bristol on Thursday, after which I benefitted from the Welsh rail service to get me to Cardiff, after which I met up with a few friends from the T3 Discord, and we went to explore a bit and eat at Costco.</p>

  <p>After this, I went to meet up with <a target="_blank" href="https://twitter.com/coffee_fueled" rel="noopener"><em class="fab fa-twitter-square"></em> James</a> and his partner at a cocktail bar, before retiring in my hotel.</p>

  <p>Friday included similar shenanigans, as well as drinks and dinner with some of the BSides crew, including <a target="_blank" href="https://twitter.com/CraigMucka" rel="noopener"><em class="fab fa-twitter-square"></em> Mucka</a>.</p>

  <p>On Saturday came BSides, to which I came equipped with a shark (like at <a href='/post/2022/2022_12_20+going-to-bsides-london' target="_blank"><em class="fas fa-link"></em> BSides London</a>), and where I saw a great variety of talks.</p>

  <p>I also gave a talk about the generalities of programming and how many languages were a bit complicated to deal with because of how they work.</p>

  <div class='media-container'>
    <iframe title='"programming is borked", the talk' style="width: 70%; max-height: 300px; height: 300px" src="https://media.ccc.de/v/trans-tech-tent-55010-its-borked-program/oembed" allowfullscreen></iframe>
  </div>

  <p>The next day was dedicated to hanging out with some friends, as well as getting ready to fly back the day after.</p>
</app-post-body>
