<app-post-body [post]="this.post" [date]="this.post.date" [showTags]="false">
  <p>Every year since 2019, TryHackMe has been hosting an event called Advent Of Cyber, which - much like the Advent of
    Code event it is inspired by - takes place from the 1st to the 24th of December.</p>

    <p>2022 marked the fourth installment of this event, located here on <a class="no-underline" href="https://tryhackme.com/room/adventofcyber4" target="_blank"  rel="noopener"><em class="lolf lol-tryhackme"></em> TryHackMe</a>.</p>

    <p>Each "day" has been split off in a separate walkthrough, for legibility's sake. Also, you may want to preserve your scroll finger.</p>

    <h3 id="index">Index</h3>
    <div class='d-flex flex-column m-1'>
      <a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_01+Advent-of-Cyber-2022-Day-01">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 1</div>
          <div class='col-md-10 p-3'>Someone's coming to town!</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_02+Advent-of-Cyber-2022-Day-02">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 2</div>
          <div class='col-md-10 p-3'>Santa's Naughty &amp; Nice Log</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_03+Advent-of-Cyber-2022-Day-03">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 3</div>
          <div class='col-md-10 p-3'>Nothing escapes detective McRed</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_04+Advent-of-Cyber-2022-Day-04">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 4</div>
          <div class='col-md-10 p-3'>Scanning through the snow</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_05+Advent-of-Cyber-2022-Day-05">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 5</div>
          <div class='col-md-10 p-3'>He knows when you're awake</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_06+Advent-of-Cyber-2022-Day-06">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 6</div>
          <div class='col-md-10 p-3'>It's beginning to look a lot like phishing</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_07+Advent-of-Cyber-2022-Day-07">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 7</div>
          <div class='col-md-10 p-3'>Maldocs roasting on an open fire</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_08+Advent-of-Cyber-2022-Day-08">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 8</div>
          <div class='col-md-10 p-3'>Last Christmas I gave you my ETH</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_09+Advent-of-Cyber-2022-Day-09">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 9</div>
          <div class='col-md-10 p-3'>Dock the halls</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_10+Advent-of-Cyber-2022-Day-10">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 10</div>
          <div class='col-md-10 p-3'>You're a mean one, Mr. Yeti</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_11+Advent-of-Cyber-2022-Day-11">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 11</div>
          <div class='col-md-10 p-3'>Not all gifts are nice</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_12+Advent-of-Cyber-2022-Day-12">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 12</div>
          <div class='col-md-10 p-3'>Forensic McBlue to the REVscue!</div>
        </div>
      </a><!-- a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_13+Advent-of-Cyber-2022-Day-13">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 13</div>
          <div class='col-md-10 p-3'>Simply having a wonderful pcap time</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_14+Advent-of-Cyber-2022-Day-14">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 14</div>
          <div class='col-md-10 p-3'>I'm dreaming of secure web apps</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_15+Advent-of-Cyber-2022-Day-15">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 15</div>
          <div class='col-md-10 p-3'>Santa is looking for a sidekick</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_16+Advent-of-Cyber-2022-Day-16">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 16</div>
          <div class='col-md-10 p-3'>SQLI's the king, the carolers sing</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_17+Advent-of-Cyber-2022-Day-17">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 17</div>
          <div class='col-md-10 p-3'>Filtering for Order Amidst Chaos</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_18+Advent-of-Cyber-2022-Day-18">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 18</div>
          <div class='col-md-10 p-3'>Lumberjack Lenny Learns New Rules</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_19+Advent-of-Cyber-2022-Day-19">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 19</div>
          <div class='col-md-10 p-3'>Wiggles go brrr</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_20+Advent-of-Cyber-2022-Day-20">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 20</div>
          <div class='col-md-10 p-3'>Binwalkin' around the Christmas tree</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_21+Advent-of-Cyber-2022-Day-21">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 21</div>
          <div class='col-md-10 p-3'>Have yourself a merry little webcam</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_22+Advent-of-Cyber-2022-Day-22">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 22</div>
          <div class='col-md-10 p-3'>Threats are failing all around me</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_23+Advent-of-Cyber-2022-Day-23">
        <div class='d-flex flex-row card'>
          <div class='col-md-2 p-3'>DAY 23</div>
          <div class='col-md-10 p-3'>Mission ELFPossible: Abominable for a Day</div>
        </div>
      </a><a class='no-link' rel="noopener" href="/walkthrough/tryhackme/2022/2022_12_24+Advent-of-Cyber-2022-Day-24">
        <div class='d-flex flex-row card'>
          <div class='col-md-3 p-3'>DAY 24</div>
          <div class='col-md-9 p-3'>Ho, ho, ho, the survey's short</div>
        </div>
      </a> -->
    </div>
  </app-post-body>
