---
interface Props {
    text: string;
    url: string;
}

const { text, url } = Astro.props;
---

<a class="content-link" href={url} target="_blank"
    ><em class="fas fa-external-link-square-alt"></em><span>{text}</span></a
>
