<app-post-body [post]="this.post" [date]="this.post.date">
    <p>Well, i've finally done it. And by *it* i mean that i've gone to a BSides event or conference without actually speaking there.</p>

    <p>Not to say that i wasn't involved, as i'd come with a completely different goal, which was to help Cooper with the A/V.</p>

    <p>We met up on the morning of the event to start setting up the many rigs, and to proceed to an exchange of culinary delicacies, wherein i handed him a panettone with Irish cream, and he handed me Speculoos flavored liqueur.</p>

    <p>The setup was mostly uneventful, except for attempting to sort out audio issues, but these were out of the way before the event officially started.</p>

    <div class="media-container">
    <img loading="lazy" alt="selfie of maya, Cooper can be seen operating the A/V desk laptop" style="max-height: 400px" src="/assets/images/post/2024/241223-bsides-london/selfie.jpeg">
    <span><em>the a/v desk, cause of many fun types of headaches, i love it</em></span>
    </div>
    <br/>

    <p>The rest of the event was spent running around, catching up with friends i hadn't seen in a while, chatting with people, double checking that the A/V volunteers were not running into any issues and trying to enjoy the event.</p>

    <p>On the "meh" side, i also ended up acting as a relay to the organizing team for certain forms of uninclusive behavior that had affected people and attempted to work with them in order to prevent this sort of behavior at this and future events (a woman with colorful hair, wearing hi-vis and steel-toed boots is not someone you wish to enter into disagreements with).</p>

    <p>I enjoyed helping out, and i'm likely to continue helping out next year again.</p>
</app-post-body>