<app-post-body [post]="this.post" [date]="this.post.date">
    <p>i - once more, and shocking no one - failed to relax during a conference.</p>

    <p>A few of my best friends decided to make a conference their way, without any labels or affiliations to other entities in the cybersecurity scene (e.g. DEFCON or BSides), as an offshoot of HackThursday (<a href='https://hackthurs.day/' target="_blank"><em class="fas fa-external-link-square-alt"></em> read more about that here</a>), an existing meetup based in Glasgow that they also organize.</p>

    <p>Having helped <a href="https://bsky.app/profile/ministraitor.bsky.social‬" target="_blank"><em class="lolf lol-bluesky"></em> Cooper</a> out with much of the A/V at various events, and Cooper being unavailable and my being decided to attend, i was given the role of "A/V Queen", wherein i would help the organizers with the recording and editing of the two conference tracks, with the help of a professional A/V crew contracted from outside the venue which would do the cabling, sound and lighting for the event.</p>

    <p>This is of course a fantastic theoretical concept, in which i simply had to make sure the rig was getting a video feed from the podium and the camera, and a sound feed from the A/V mixer.</p>
    
    <p>What could go wrong? (<em>unnecessary foreshadowing</em>)</p>

    <p>Unthankfully, my body decided to betray me and make me feel under the weather, so i was working off of fumes. Additionally, the A/V crew had not yet setup their equipment by the time i got there, which meant a decent chunk of time was spent figuring out where they would be located, where i could run the cabling, and how we would interface with their kit.</p>

    <p>This of course came to a head when the conference officially opened, and we had one track ready but the HDMI cable at the front wasn't plugged in correctly by the A/V guy in charge of lighting, so we missed recording the slides of the first talk, and the second track had no computer monitor until the third talk of the day, and also somehow the A/V crew member on that track forgot to pass through the sound from the mixer to our rig's input, meaning we had a lot of silence in our recordings.</p>

    <p>Of all the talks, we still managed to record and subsequently edit eight, which out of 14 isn't too terrible. i do want to thank one of the guys from the A/V team, specifically the operator of the mixing desk on Track 1, who helped us set up in a way that actually helped us troubleshoot a few problems, and was genuinely kind and helpful (specifically in helping find me a seat i could use during my talk so i wouldn't fall over).</p>

    <p>Besides all that, and disregarding my health issues, i still had a talk scheduled.</p>

    <p>If you've followed my blog for a while, you may have noticed that my last two talks - specifically the one at BSides London 2023 and SteelCon 2024 (which you can read about <a href='/post/2023/2023_12_13%2Bspeaking-at-bsides-london' target="_blank"><em class="fas fa-link"></em> here</a> and <a href='/post/2024/2024_07_27%2Bstartup-whiplash-at-steelcon' target="_blank"><em class="fas fa-link"></em> here</a> respectively) - were rants. Now, at Hack Glasgow 2025, i was going to have a final rant, at least for a while, due to my growing distaste for the apathy shown by our industry, and the tech industry in general, which makes my blood boil.</p>

    <p>Besides the dying, i think it came out quite nicely:</p>

    <div class='media-container'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/prW_VDYZJZM?si=ICBPWY6xdROPluEG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</app-post-body>