<app-post-body [post]="this.post" [date]="this.post.date">
  - what is C3 camp. (mention emf and mch)
  - link to mch post

  - arriving at camp
  - adventures setting up a tent
  - lightshow + music

  - amenities
    - vegan food! (burritos, pizza, waffles, etc.)
    - club mate vs. flora mate
    - the recipe for a tschunk
  
  - event org
    - theme of the event heavily on decentralization and the fediverse.
    - very many stages which meant it was a bit chaotic
    - wanted to angel like at mch, however didn't have the spoons for it.

  - parties, music, social
    - rin's stage
    - bumping into ohmi
    - partying all night (short nights)
    - inane conversations at 8am in the morning (what's the deal with airplane food)

  - hygiene and health
    - masking was suboptimal at the event
    - sunscreen was needed, and I did not apply it enough...
    - daily morning showers (7am) meant warm water was available at that time
    - showers had a FINTRA component
 
  - fucking around with stuff
    - playing with the flower badge
    - some crimes against Chaos post

 - pictures!

 - the negatives
  - the covid situation
  - the fact a predator GHB'd someone and that some of the exits had to be locked down during the night
  - getting deutsche bahned on the way back

</app-post-body>
