<h1>~$ Security CoffeeHouse: BC2 Speaker Interviews</h1>
<app-by-when [date]="[2020, 12, 12]"></app-by-when>
<app-tag-viewer [tags]="this.post.tags"></app-tag-viewer>

<p>A short while back, I spoke about IoT at <a target="_blank" href="/postx/2020/2020_11_02+I-gave-a-talk-at-BeerCon2">BeerCon2</a>. I thought at that point that that would be the last I'd hear of that event for a short while. Thankfully, <a target="_blank" href="https://twitter.com/Coffee_Fueled"><i class="fab fa-twitter-square"></i> James Bore</a> had other ideas.</p>

<p>At the Security CoffeeHouse, a panel-esque platform he created, he had decided to invite the BeerCon2 speakers over in small groups to talk about the event, in an informal setting.</p>

<p>The first session was with <a target="_blank" href="https://twitter.com/ayushpriya10"><i class="fab fa-twitter-square"></i> Ayush</a>, <a target="_blank" href="https://twitter.com/ElizabethMomola"><i class="fab fa-twitter-square"></i> Elizabeth</a>,  <a target="_blank" href="https://twitter.com/lennaert89"><i class="fab fa-twitter-square"></i> Lennaert</a> and myself.</p>

<p>We discussed the steps that brought up our participation, how we prepared, what we thought about it, and the like.</p>

<div class="media-container">
  <ngx-tweet id="bc2-tweet" tweetId="1325151069987504134"></ngx-tweet>
</div>

<p>The other sessions were with :</p>
<ul>
  <li><a target="_blank" href="https://twitter.com/cybersecv"><i class="fab fa-twitter-square"></i> Vix</a>, <a target="_blank" href="https://twitter.com/danjconn"><i class="fab fa-twitter-square"></i> Dan</a> and <a target="_blank" href="https://twitter.com/yellowcap_ghost"><i class="fab fa-twitter-square"></i> Ben</a>: <a target="_blank" href="https://twitter.com/security_coffee/status/1327688394311303168?s=20">Twitter link</a></li>
  <li><a target="_blank" href="https://twitter.com/gl4cierBlue"><i class="fab fa-twitter-square"></i> Vivian</a>, <a target="_blank" href="https://twitter.com/juan_spinel"><i class="fab fa-twitter-square"></i> Juan</a>, <a target="_blank" href="https://twitter.com/ZSlater93"><i class="fab fa-twitter-square"></i> Zak</a> and Marius: <a target="_blank" href="https://twitter.com/security_coffee/status/1330225264664719360?s=20">Twitter link</a></li>
  <li><a target="_blank" href="https://twitter.com/shahrukhiqbal24"><i class="fab fa-twitter-square"></i> Shahrukh</a>, <a target="_blank" href="https://twitter.com/ddsgerard"><i class="fab fa-twitter-square"></i> Gerard</a> and <a target="_blank" href="https://twitter.com/juan_spinel"><i class="fab fa-twitter-square"></i> Juan</a> again: <a target="_blank" href="https://twitter.com/security_coffee/status/1332761209217703936?s=20">Twitter link</a></li>
</ul>

<p>Then came the "bonus rounds", with the first hosted by <a target="_blank" href="https://twitter.com/cybersecv"><i class="fab fa-twitter-square"></i> Vix</a> interviewing the BeerCon2 mentors <a target="_blank" href="https://twitter.com/RoseSecOps"><i class="fab fa-twitter-square"></i> Zoë Rose</a>, <a target="_blank" href="https://twitter.com/coffee_fueled"><i class="fab fa-twitter-square"></i> James Bore</a>, <a target="_blank"  href="https://twitter.com/ClaireTills"><i class="fab fa-twitter-square"></i> Claire Tills</a>, <a target="_blank"  href="https://twitter.com/davewj"><i class="fab fa-twitter-square"></i> Dave McKenzie</a> and <a target="_blank" href="https://twitter.com/safesecs"><i class="fab fa-twitter-square"></i> Sam Humphries</a> (<a target="_blank" href="https://twitter.com/security_coffee/status/1335298491522797570?s=20">Twitter link</a>).</p>

<p>Another hosted by <a target="_blank" href="https://twitter.com/ddsgerard"><i class="fab fa-twitter-square"></i> Gerard</a> and myself, where we interviewed <a target="_blank" href="https://twitter.com/TheBeerFarmers"><i class="fab fa-twitter-square"></i> The Beer Farmers</a> members <a target="_blank" href="https://twitter.com/ScottMcGready"><i class="fab fa-twitter-square"></i> Scott McGready</a> and <a target="_blank" href="https://twitter.com/appsecbloke"><i class="fab fa-twitter-square"></i> Mike Thompson</a> (below).</p>

<div class="media-container">
  <ngx-tweet id="bc2-tweet" tweetId="1337835219571785728"></ngx-tweet>
</div>
