<app-post-body [post]="this.post" [date]="this.post.date" [showTags]="false">
  <app-walkthrough-challenge-author category="Blue Team: Malware Analysis"
  platformLink="https://tryhackme.com/room/adventofcyber4"></app-walkthrough-challenge-author>

  <h3>Question 1</h3>
  <blockquote>
   <p>What is the architecture of the malware sample? (32-bit/64-bit)</p>
  </blockquote>
  <p>We look at the architecture section in DIE.</p>
  <div class="media-container">
   <img alt="Screenshot of DIE (Detect It Easy)" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day12/1.png" style="max-height: 300px"/>
   <span><em>The naming on this one tool is... creative.</em></span>
  </div>
  <p>Answer: <code>64-bit</code></p>
  <h3>Question 2</h3>
  <blockquote>
   <p>What is the packer used in the malware sample? (format: lowercase)</p>
  </blockquote>
  <p>The packer is written in the DIE scan results.</p>
  <p>Answer: <code>upx</code></p>
  <h3>Question 3</h3>
  <blockquote>
   <p>What is the compiler used to build the malware sample? (format: lowercase)</p>
  </blockquote>
  <p>After decompiling the sample with <code>upx -d mysterygift</code> we can process it with <code>capa mysterygift</code> and find the compiler name.</p>
  <div class="media-container">
   <img alt="Screenshot of the 'upx' command output." loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day12/3.png" style="max-height: 500px"/>
   <span><em></em></span>
  </div>
  <p>Answer: <code>nim</code></p>
  <h3>Question 4</h3>
  <blockquote>
   <p>How many MITRE ATT&amp;CK techniques have been discovered attributed to the DISCOVERY tactic?</p>
  </blockquote>
  <p>In the ATT&amp;CK Tactic section we can see two Techniques.</p>
  <p>Answer: <code>2</code></p>
  <h3>Question 5</h3>
  <blockquote>
   <p>What is the registry key abused by the malware?</p>
  </blockquote>
  <p>We check for one of the first <code>RegCloseKey</code> operations in ProcMon.</p>
  <div class="media-container">
   <img alt="Screenshot of ProcMon" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day12/5.png" style="max-height: 300px"/>
   <span><em>Who's that Proc(é)Mon</em></span>
  </div>
  <p>Answer: <code>HKCU\Software\Microsoft\Windows\CurrentVersion\Run</code></p>
  <h3>Question 6</h3>
  <blockquote>
   <p>What is the value written on the registry key based on the previous question?</p>
  </blockquote>
  <p>We check for the next <code>RegSetValue</code> operation in ProcMon.</p>
  <div class="media-container">
   <img alt="Screenshot of ProcMon" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day12/6.png" style="max-height: 300px"/>
   <span><em>Oh we looove Roaming files.</em></span>
  </div>
  <p>Answer: <code>C:\Users\Administrator\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup\wishes.bat</code></p>
  <h3>Question 7</h3>
  <blockquote>
   <p>What are the names of two files created by the malware under the C:\Users\Administrator\ directory? (format: file1,file2 in alphabetical order)</p>
  </blockquote>
  <p>We find <code>CreateFile</code> operations in ProcMon.</p>
  <div class="media-container">
   <img alt="Screenshot of ProcMon" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day12/7.png" style="max-height: 300px"/>
   <span><em>Ah yes... "wishes"</em></span>
  </div>
  <p>Answer: <code>test.jpg,wishes.bat</code></p>
  <h3>Question 8</h3>
  <blockquote>
   <p>What are the two domains wherein malware has initiated a network connection? (format: domain1,domain2 in alphabetical order)</p>
  </blockquote>
  <p>We look for the two <code>TCP Connect</code> operations in ProcMon.</p>
  <div class="media-container">
   <img alt="Screenshot of ProcMon" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day12/8.png" style="max-height: 300px"/>
   <span><em>At this point, what "can't" ProcMon do?</em></span>
  </div>
  <p>Answer: <code>bestfestivalcompany.thm,virustotal.com</code></p>
  <h3>Question 9</h3>
  <blockquote>
   <p>Going back to strings inside the malware sample, what is the complete URL used to download the file hosted in the first domain accessed by the malware?</p>
  </blockquote>
  <p>In DIE we filter on <code>http</code> strings and find the correct string:</p>
  <div class="media-container">
   <img alt="Screenshot of DIE (Detect It Easy)" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day12/9.png" style="max-height: 300px"/>
   <span><em>Oh, we're using DIE again...</em></span>
  </div>
  <p>Answer: <code>http://bestfestivalcompany.thm/favicon.ico</code></p>

  <br />
  <div class="d-flex justify-content-end">
    <p><a href="/walkthrough/tryhackme/2022/2022_12_01%2BAdvent-of-Cyber-2022"><em class="fas fa-link"></em> Return to the Index</a></p>
  </div>
</app-post-body>
