
<app-post-body [post]="this.post" [date]="this.post.date">

  <h3>The Premise</h3>

  <p>Lightshot is a screen capture service provided for free on the Internet. It features a few functionalities including but not limited to screenshot editing, copying it to the copy-paste buffer and finally uploading the captured images to LightShot's CDN.</p>
  <p>That last part is the one of interest for us, as it was mentioned by <a target="_blank" href="https://twitter.com/illyrian598" rel="noopener"><em class="fab fa-twitter-square"></em> commandergirl</a> (see below) that LightShot's CDN (Content Delivery Network) was quite easy to enumerate.</p>
  <div class="media-container">
    <ngx-tweet id="bc2-tweet" tweetId="1432084646473388039"></ngx-tweet>
  </div>

  <p>As a fun project I wanted to see how easy it was to enumerate all of the images uploaded to LightShot.</p>

  <p>Spoiler alert, it is really easy.</p>

  <br/>
  <h3>Kowalski, Analysis!</h3>

  <p>The CDN is accessible via a URL that looks like <code>hxxps[:]//prnt[.]sc/x</code> with <code>x</code> being an alphanumerical string within the <code>[0-9a-z]</code>.</p>

  <p>I upload two test images - with approximately 25 seconds between uploads - to LightShot's CDN, which are:</p>
  <ul>
    <li>1qvc84l</li>
    <li>1qvc8ny</li>
  </ul>

  <p>We can start by seeing that both codes seem sequential in nature, and assuming we are in the <code>[0-9a-z]</code> space, show that a lot of images are constantly being uploaded to the CDN. The difference between <code>1qvc84l</code> and <code>1qvc8ny</code> is:</p>
  <ul>
    <li>'l' to 'z' = 14 characters</li>
    <li>'50' to 'mz' = 17*36 = 612 characters</li>
    <li>'0' to 'y' = 35 characters</li>
  </ul>

  <p>We can thus see there are approximately 659 URL segments between both of my uploads (uploads excluded), which comes down to approximately 26.5 images per second. That's a lot of images (in my best Phil Swift tone).</p>

  <p>But how many images could that represent? Well using bad math, I would have told you "at least 27M images", which would be completely wrong. Someone who has been doing math for a living mentioned that just for the 7 character segment - considering that the segment cannot start with a 0 (from experimentation) - we need <code>35 * 36^6 ~= 76.12e9</code> or about 76.12 Billion possibilities. Summing up for character segments of size 1 to 7, we thus get <code>35 * 36^6 + 35 * 36^5 + 35 * 36^4 + 35 * 36^3 + 35 * 36^2 + 35 * 36 + 36 ~= 78.36e9</code> or about 78.36 Billion possibilities. That is a lot. Thankfully we seem to be at <code>1qxxxxx</code> which is somewhere at the beginning of the 7 character space (relatively to 78.36 Billion possibilities).</p>

  <p>For each of these URL segments, my initial impression of parsing that URL is that the page takes a few seconds to load, loading the image asynchroneously, thus requiring a more roundabout automated collection method. The image is available 1 of two ways, either in the image source, or as a data blob:</p>

  <div class="media-container">
    <img src="assets/images/2021/210831-lightshot/0-page-code.png" alt="The code of LightShot's page"/>
  </div>

  <br/>

  <p>To automate this, I turned to my favorite language: Python. Also in my quiver were the Selenium WebDriver library, BeautifulSoup4 and Multiprocess.</p>

  <p>By iterating over the namespace, and opening the page via Selenium in a headless Chrome then grabbing the page and jamming it into BS4, we can then find the image and it's blob, and then convert the blob, then saving it to the relevant file format.</p>

  <p>You can check that first functioning attempt at <a href="https://gist.github.com/AtomicMaya/d31462e2e9ed168f7665bf9e6b698daa"> here</a>.</p>

  <br/>
  <h3>The quicker "I hadn't noticed that" approach</h3>

  <p>Meta tags. Apparently the LightShot page uses the <code>&lt;meta property="og:image" content="x"&gt;</code> tag, which contains a link to an image... which can be scraped using the <code>urllib</code> library. Thanks <a target="_blank" href="https://twitter.com/bugbot4" rel="noopener"><em class="fab fa-twitter-square"></em> Night</a> for pointing that out.</p>

  <p>By refactoring my code to include this modification, it became much easier and faster and less expensive to use, due to Selenium and BS4 being made redundant. You can find it <a href="https://gist.github.com/AtomicMaya/077c84c8c6ff1d431c5e3e7c050f9fd0"> here</a>.</p>

  <p>I had not removed parallel processing on my first try, and this method is "so" efficient, that it tripped CloudFlare's DOS mitigation (or, as CloudFlare claims, the owner banned my IP specifically, see below). Oops, I apologize. However, CloudFlare <strong>is</strong> protecting a service used to share non-consensual pornography, scams and PII (regardless of own ToS) which would make a GDPR-specialized risk management firm sweat. I "fixed" it to continue my "research" and everything was nice and functional.</p>

  <div class="media-container">
    <img src="assets/images/2021/210831-lightshot/3-beaned.png" alt="CloudFlare's message"/>
  </div>
  <br/>

  <h3>PII farming</h3>
  <p>I did just mention scams, NCP and PII, so here are some (heavily redacted) examples!</p>

  <div class="media-container">
    <img src="assets/images/2021/210831-lightshot/1-example-0.png" alt="Cryptocurrency platform credentials and PII"/>
  </div>
  <div class="media-container">
    <caption class="text-align-center">Cryptocurrency platform credentials and PII</caption>
  </div>

  <br/>
  <div class="media-container">
    <img src="assets/images/2021/210831-lightshot/1-example-1.jpg" alt="Cryptocurrency platform credentials"/>
  </div>
  <div class="media-container">
    <caption class="text-align-center">Cryptocurrency platform credentials</caption>
  </div>

  <br/>
  <div class="media-container">
    <img src="assets/images/2021/210831-lightshot/1-example-2.jpg" alt="Cryptocurrency platform credentials"/>
  </div>
  <div class="media-container">
    <caption class="text-align-center">Cryptocurrency platform credentials</caption>
  </div>

  <br/>

  <div class="media-container">
    <img src="assets/images/2021/210831-lightshot/1-example-3.jpg" alt="Cryptocurrency platform credentials, PII + Credit card information"/>
  </div>
  <div class="media-container">
    <caption class="text-align-center">Cryptocurrency platform credentials, PII + Credit card information</caption>
  </div>

  <br/>

  <p>It's a literal goldmine for people that wish to be malicious.</p>
  <p>To the question about why I am not going through vulnerability disclosure processes? Because the idea of scraping LightShot has been going on for a while (see below) and no one at LightShot seems to care.</p>
  <div class="media-container">
    <img src="assets/images/2021/210831-lightshot/2-so.jpg" alt="A post on stack overflow about scraping LightShot from April 25th, 2017"/>
  </div>
  <div class="media-container">
    <caption class="text-align-center">A post on Stack Overflow about scraping LightShot from April 25th, 2017</caption>
  </div>

  <p>In conclusion, this is a case of *le big sigh*. Hope you've enjoyed, see you around.</p>
</app-post-body>
