<app-post-body [post]="this.post" [date]="this.post.date">
<p><a target="_blank" href="https://about.fb.com/news/2021/10/facebook-company-is-now-meta/"><em class="fas fa-external-link-square-alt"></em> The news</a> is in everyone, Facebook Inc. is renaming itself to Meta Inc.</p>

<p>This decision, affecting Facebook Inc. and all underlying services, is generating a lot of discussion, especially as it comes on the heels of a number of cybersecurity, privacy, political interference, inaction against abuse and misinformation, among other issues that have affected the company in recent years.</p>

<h4>Summary</h4>
<ul>
  <li><a class='no-underline' routerLink='.' fragment='company-history'>A bit of company history</a></li>
  <li><a class='no-underline' routerLink='.' fragment='bumpy-road'>A few bumps along the road</a></li>
  <li><a class='no-underline' routerLink='.' fragment='eating-small-fish'>Acquisitions, projects and general consensus</a></li>
  <li><a class='no-underline' routerLink='.' fragment='ereputation'>An e-reputation perspective on the change</a></li>
  <li><a class='no-underline' routerLink='.' fragment='users-around'>Impact on users</a></li>
  <li><a class='no-underline' routerLink='.' fragment='affected-services'>Impact on services</a></li>
</ul>

<h4 id='company-history'>A bit of company history</h4>
<p>As mentioned above, Facebook Inc. was founded in 2004 as an LLC, meant to provide a legal structure for the social media platform originally known as TheFacebook, now Facebook.</p>

Socmed platform originally built to "compare people / rate them based on pictures"

peak interest in the early 2010's as functionalities get added and linked services get bought

strongly declining interest vs. competitors in late 2010's early 2020's

Shift to metaverse based projects

One of the GAFAM (Big Five)


<h4 id='bumpy-road'>A few bumps along the road</h4>

- Cambridge analytica
- alleged Political manipulation
- User privacy issues in attached services
- cybersecurity
- misinformation
- extremism
- abuse


- monopoly

<h4 id='eating-small-fish'>Acquisitions, projects and general consensus</h4>

- Instagram
- Metaverse
- Whatsapp
- Onavo
- Oculus
- Fiphy

<h4 id='ereputation'>An e-reputation perspective on the change</h4>

- marks a new direction and mission statement, trying to stay relevant
- makes the parent aspect more remarkable, not something with the same name but has a few under companises


- anything problematic with Facebook would then echo with FacebookInc. and vice. versa
- SEO collates all problems and socmed algorithm amplifies it.
- Splitting the name works in publics perspective (distancing it from the service) but halves SEO and algorithm hits
- also affects the spread ability of lawsuits

<h4 id='users-around'>Impact on users</h4>

- Almost none, facebook and instagram and other related services will just have a logo facelift
- more metaverse oriented products, cross-pollenization, marketing

<h4 id='affected-services'>Impact on services</h4>

- keep an eye on what permissions they take and all the new legal contracts issue for difference with the previous ones
- cross-pollenization implies better interaction and baton passes

</app-post-body>
