<h1>~$ calendar</h1>

<p>Find me here!</p>

<ul>
  <li class="pb-1"><strong>2024-04-27</strong>:<br/><em>BSides Cymru, Cardiff, Wales</em></li>
  <li class="pb-1"><strong>2024-05-25</strong> - <strong>2024-06-03</strong>:<br/><em>Electromagnetic Field, Eastnor Castle Deer Park, United Kingdom</em></li>
  <li class="pb-1"><strong>2024-07-19</strong> - <strong>2024-07-21</strong>:<br/><em>SteelCon, Sheffield, United Kingdom</em></li>
  <li class="pb-1"><strong>2024-08-08</strong> - <strong>2024-08-11</strong>:<br/><em>DEFCON 32, Las Vegas, United States</em></li>
  <li class="pb-1"><strong>2024-10-05</strong>:<br/><em>BSides Newcastle, Newcastle, United Kingdom</em></li>
</ul>
