<h1>~$ calendar</h1>

<p>Find me here!</p>

<ul>
  <li class="pb-1"><strong>2025-07-11</strong> - <strong>2025-07-13</strong>:<br /><em>SteelCon, Sheffield, United Kingdom</em></li>
  <li class="pb-1"><strong>2025-08-08</strong> - <strong>2025-08-12</strong>:<br /><em>WHY 2025, Geestmerambacht, The Netherlands</em></li>
  <li class="pb-1"><strong>2025-09-12</strong> - <strong>2025-09-14</strong>:<br /><em>MRMCD 2025, Darmstadt, Germany</em></li>
  <li class="pb-1"><strong>2025-12-27</strong> - <strong>2025-12-30</strong>:<br /><em>39c3, Hamburg, Germany</em></li>
</ul>

<hr/>

<h2>Past events</h2>

<ul>
  <li class="pb-1"><strong>2025-06-19</strong> - <strong>2025-06-22</strong>:<br /><em>GPN2025, Karlsruhe, Germany</em></li>  
  <li class="pb-1"><strong>2025-05-29</strong> - <strong>2025-06-01</strong>:<br /><em>CoSin, Biel/Bienne, Switzerland</em></li>
  <li class="pb-1"><strong>2025-05-24</strong>:<br /><em>BSides Dublin, Dublin, Ireland</em></li>
  <li class="pb-1"><strong>2025-05-03</strong>:<br /><em>BSides Birmingham, Birmingham, United Kingdom</em></li>
  <li class="pb-1"><strong>2025-04-26</strong>:<br /><em>Hack Glasgow, Glasgow, Scotland</em></li>
  <li class="pb-1"><strong>2025-02-01</strong> - <strong>2025-02-02</strong>:<br /><em>FOSDEM, Brussels, Belgium</em></li>
</ul>

<h3>2024</h3>

<ul>
  <li class="pb-1"><strong>2024-12-27</strong> - <strong>2024-12-30</strong>:<br /><em>38th Chaos Congress, Hamburg, Germany</em></li>
  <li class="pb-1"><strong>2024-12-14</strong>:<br /><em>BSides London, London, United Kingdom</em></li>
  <li class="pb-1"><strong>2024-10-05</strong>:<br /><em>BSides Newcastle, Newcastle, United Kingdom</em></li>
  <li class="pb-1"><strong>2024-08-08</strong> - <strong>2024-08-11</strong>:<br /><em>DEFCON 32, Las Vegas, United States</em></li>
  <li class="pb-1"><strong>2024-07-19</strong> - <strong>2024-07-21</strong>:<br /><em>SteelCon, Sheffield, United Kingdom</em></li>
  <li class="pb-1"><strong>2024-05-25</strong> - <strong>2024-06-03</strong>:<br /><em>Electromagnetic Field, Eastnor Castle Deer Park, United Kingdom</em></li>
  <li class="pb-1"><strong>2024-04-27</strong>:<br /><em>BSides Cymru, Cardiff, Wales</em></li>
</ul>