.media-container {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 10px 0;

  * {
    margin: 0 auto;
    max-width:100%;
  }
}

.center {
  text-align: center;
}

.container {
  min-width: 90%;
}
