<app-post-body [post]="this.post" [date]="this.post.date">
  - slow month of september
    - work
    - 1 week of holidays where i buzzed off to germany and the netherlands
  
  - traveled to london and then took the train to newcastle
  - met up with emily and the gang
  - headed over to presides where I ran into Ger, Scott, Mark, Dave and the gang, as well as Geo, Rosa and a gew others.
  - instead of infosec steak night, we went for japanese :)
  - rejoined presides

  - day 1:
    - classically hadn't finished my slides so headed up to a coffeeshop and had a quad shot espresso (this is a trend)
    - didn't finish my slides
    - went to the conference
    - got motivated to play the CTF
    - still didn't finish my talk
    - gave my talk
    - finished 2nd at the ctf
  
  - next day hung out with the gang, went to greggs 
  - fun fact about newcastle being the place with the most greggs per capita?!?
  - took the train down to London
  - another fun bsides
</app-post-body>
