<app-post-body [post]="this.post" [date]="[2021, 01, 02]">
  <p>In the last few decades of the COVID-19 pandemic, it's been hard to go to parties that actually felt like parties.<br/>Sure, Zoom rooms are fun and all, but it's hard to have a conversation with 3-4 people when there are 40 people in the room, or when music is involved.</p>

  <p>For a New Year's Eve party, it would have been complicated to run it via a Zoom meeting, and would have potentially ruined the festivities for everyone.</p>

  <p>It would seem that <a target="_blank" href="https://twitter.com/Coffee_Fueled" rel="noopener"><em class="fab fa-twitter-square"></em> James Bore</a> came to the same conclusion, looking everywhere he could for potential solutions to this problem.</p>

  <p>In comes <a target="_blank" href="https://gather.town/" rel="noopener">Gather</a>.</p>

  <p>The concept is rather simple: It's a small web based platform, where people incarnate small avatars and can move around the room. If they get within a certain distance of each other, they share a small video chat, and can potentially go play a game together.</p>

  <p>It was fun, I met up with a few friends again and lost at virtual poker.</p>
</app-post-body>
