<app-post-body [post]="this.post" [date]="this.post.date">
  <p>Last November, I attended conINT, which was my first OSINT conference, and participated in my first ever TraceLabs OSINT CTF.</p>

  <p>This year, I daresay I've gotten slightly better at OSINT, but also have been using it in ways that are more niche than finding missing persons or locating the scene of an event.</p>

  <p>With that in mind, the talk I proposed at conINT this year revolved around the use of OSINT in communities, specifically when it comes to protecting the members of communities by investigating people that are acting suspiciously, as well as discussing the advantages and disadvantages of webs of trust.</p>

  <p>It was definitely an enjoyable event, and although my talk was recorded, all the talks have not been uploaded to YouTube as of yet.</p>
</app-post-body>
