<app-post-body [post]="this.post" [date]="[2021, 03, 07]">
  <p>Within the last 5 years, we've become more and more reliant on services provided by companies -- services that usually require some form of Internet connectivity and on some form of account scheme, potentially under the guise of a warranty scheme. When setting up these services, users need to define a password, which might help them access the vendors' platform or a dashboard or something of the sort.</p>

  <p>However, the human memory is only <em>so</em> good. You cannot exactly rely on it to store a dozen or more passwords, that you only have the use for every fewweeks or months. We as a species are constantly plagued by thoughts, considerations and the ramblings of our imagination. To aid in remembering such important details, we've developed a few methods, and only so many of them are actually efficient, and only a slight handful are secure, as we'll get to in this article.</p>

  <p>Here I will also go over some custom solutions that were <em>interesting</em> -- to say the least, and why -- when it comes -- to your cyber-hygiene, a password management solution is usually the most practical and efficient way to go.</p>

  <h4>Summary</h4>
  <ul>
    <li><a class="no-underline" routerLink="." fragment="humans-are-not-robots">Storing passwords</a></li>
    <li><a class="no-underline" routerLink="." fragment="password-juggling">Sparse bits of frightening reality</a></li>
    <li><a class="no-underline" routerLink="." fragment="solutions">Not becoming the victim in the thriller where you are also the antagonist</a></li>
  </ul>


  <p>The first option is of course to reuse the same password everywhere, be it from your personal mailbox to some random service or video game on  the Internet. This option is the best in terms of efficiency, because you only need to remember a singular password! However, this benefit comes with a consequential edge: Your password needs only to appear in a single breach for it to compromise the entire realm of services, some of which have a lot of details concerning your identity. This makes a potential attackers' job easy by giving them all of the resources they need to impersonate you and steal all of your money or open a credit line in your name, among other nasty things.</p>

  <p>Another option is to store </p>
  <p>Never before has murder felt so justified than after observing your password management technique.</p>
</app-post-body>
