<app-post-body [post]="this.post" [date]="this.post.date" [showTags]="false">
  <!--  author="John Hammond" link="https://infosec.exchange/@JohnHammond" icon="fab fa-mastodon"  -->
  <app-walkthrough-challenge-author category="Blue Team: Frameworks" platformLink="https://tryhackme.com/room/adventofcyber4"></app-walkthrough-challenge-author>

  <p>This challenge took the shape of an interactive game, where one had to build up puzzles that describe the Unified Kill Chain (read more about the UKC <a href="https://www.unifiedkillchain.com" target="_blank" class="no-underline"   rel="noopener"><em class="fas fa-external-link-square-alt" ></em> here</a>).</p>

  <div class="media-container">
    <img alt='A puzzle with (in order, left to right, top to bottom), the following: Reconnaissance, Weaponisation, Delivery, Social Engineering, Exploitation, Persistence, Defense Evasion, Command and Control' style="max-height: 300px" src="assets/images/walkthrough/thm/aoc-2022/day01/1.png" loading="lazy">
    <span><em>The first puzzle.</em></span>
  </div>

  <div class="media-container">
    <img alt='A puzzle with (in order, left to right, top to bottom), the following: Pivoting, Discovery, Privilege Escalation, Execution, Credential Access, Lateral Movement' style="max-height: 300px" src="assets/images/walkthrough/thm/aoc-2022/day01/2.png" loading="lazy">
    <span><em>The second puzzle.</em></span>
  </div>

  <div class="media-container">
    <img alt='A puzzle with (in order, left to right, top to bottom), the following: Access, Collection, Exfiltration, Impact, Objectives' style="max-height: 300px" src="assets/images/walkthrough/thm/aoc-2022/day01/3.png" loading="lazy">
    <span><em>The third puzzle.</em></span>
  </div>

  <div class="media-container">
    <img alt='A flag, and the name and likeness of the baddie' style="max-height: 300px" src="assets/images/walkthrough/thm/aoc-2022/day01/final.png" loading="lazy">
    <span><em>The game is finished, revealing this years' baddie.</em></span>
  </div>

  <h3>Question 1</h3>
  <blockquote>
  <p>Who is the adversary that attacked Santa's network this year?</p>
  </blockquote>
  <p>Answer: <code>The Bandit Yeti</code></p>

  <h3>Question 2</h3>
  <blockquote>
  <p>What's the flag that they left behind?</p>
  </blockquote>
  <p>Answer: <code>THM{{ '{' }}IT'S A Y3T1 CHR1$TMA${{ '}' }}</code></p>

  <br/>
  <div class="d-flex justify-content-end"><p><a href="/walkthrough/tryhackme/2022/2022_12_01%2BAdvent-of-Cyber-2022"><em class="fas fa-link"></em> Return to the Index</a></p></div>
</app-post-body>
