<app-post-body [post]="this.post" [date]="this.post.date">
  <p>These days, I oftentimes find myself on the move, and not necessarily with all of the resources I would like to write down some of my thoughts.</p>

  <p>Additionally, I may have footgunned myself all those years ago by writing a blog which requires a framework, specifically Angular (you can read about this in my <a href='/post/2021/2021_01_23%2BWebsite-Design-Choices' target="_blank"><em class="fas fa-link"></em> post</a> from back then.</p>

  <p>This requires the use of the npm stack, which I cannot necessarily deploy in every environment, especially not my non-personal environments, due to the risk that npm and some of the packages and the dependencies therein pose.</p>

  <p>As such, I have found a solution which is maybe not the cleanest -- quite jank even -- but it works.</p>

  <p>It makes use of the accursed technology that is Docker, wherein I have two container files specifically for making a live preview of the blog, and one for actually building the resources for deployment (as it is a server pre-rendered blog).</p>

  <p>This obviously has several positive aspects, for example that I do not have to rely on npm or other nvm (node version manager) shenanigans and can target the specific version of npm my blog can be built with.</p>

  <p>However, this comes at the expense of longer build times and the inability for me to "hot-reload" it during development.</p>

  <p>But it works!</p>
</app-post-body>
