<app-post-body [post]="this.post" [date]="this.post.date">
    <p>these last few months have been quite interesting, and i've found myself attending a variety of community events.</p>

    <br/>
    <h4>NixCon</h4>
    <p>the first was quite close to home, with NixCon being hosted this year in Rapperswil, a short train ride from where i live.</p>
    <p>although a departure from my usual haunts that are BSides or chaos events, this event was generally quite pleasant, although a bit crowded.</p>
    <p>the beautiful weather and lakeside location did make up for it, as there was plenty of grass to just sit on and chat with other attendees.</p>
    <p>i had been using NixOS for a while already on my laptop, but i did gain a greater appreciation for the intricacies of the operating system, specifically determinism.</p>

    <br/>
    <h4>MRMCD</h4>
    <p>barely a week later, i found myself in Darmstadt, at the MetaRheinMainChaosDays, a chaos event affectionately referred to as MRMCD by everyone who can't be bothered to remember the name.</p>
    <p>this event would lead to a significant departure from previous conference i had given a talk at, because - having been made redundant in July - i decided to take more liberties in talking about things that were adjacent to my previous field of work, namely finance / fintech.</p>
    <p>this led to me giving a talk titled '"Where *is* my money?" On the brittleness of the financial system', which included some of my opinions on issues on the state of finance, the emergence of fintechs, the web of dependencies and the lack of oversight.</p>
    <p>this talk had a decent amount of attendees, and a few of my jokes landed and got a chuckle out of the audience.</p>

    <br/>
    <h4>and now, for something completely different</h4>
    <p>two weeks later, i totally didn't go to a field quite inconspicuously in the middle of nowhere to attend a totally authorized rave, which was a lot of great fun.</p>

    <br/>
    <h4>open transport vienna</h4>
    <p>three weeks after that, i took a sleeper train to Vienna (which wasn't that comfortable as i didn't get a couchette) to attend the Open Transport Vienna unconference.</p>
    <p>this led to a lot of fun interactions and meeting people involved in the train ticketing shenanigans that i've been involved in for a while now, which i probably should post about some day.</p>
    <p>the way back also included a sleeper train, again without a couchette, leading to my very groggy reappearance in Zurich the following monday.</p>

    <br/>
    <h4>dhcp</h4>
    <p>two weeks later, i attended Die Heilbronner Chaos Party (affectionately known as DHCP), in Heilbronn (southwestern Germany).</p>
    <p>this event was pretty nice, and the talks that were there were quite interesting, but the vibes could've been better (although that was probably on me).</p>
    <p>although not as eventful as other events, i did some work on a hardware project, chatted with some new friends, got some new ideas and inspiration, so overall this was a good event.</p>

    <br/>
    <h4>and now, for something somewhat on brand</h4>
    <p>incidentally, as i am writing this update, i am realizing that this blog has been with me since November 2020, making it officially 5 years old. i can't keep a cactus alive, but thankfully this blog does not need watering, and remains a growing window into my mind.</p>
</app-post-body>