<h1>~$ Privacy Policy</h1>
<app-by-when [date]="[2020, 10, 01]" [edited]="[2021, 01, 13]"></app-by-when>

<p>This website only collects anonymous analytics via <a href="https://goatcounter.com" target="_blank" rel="noopener">GoatCounter</a>.</p>

<h2>Website Hosting Service</h2>

<p>However, visitors should be aware that a subset of information cited below is collected by the hosting service (<a href="https://github.com/" target="_blank" rel="noopener">GitHub</a>) and the registrar (<a href="https://glauca.digital/" target="_blank" rel="noopener">Glauca Digital</a>) and some can be viewed by the website administrator (<a href="https://twitter.com/AtomicMaya_" target="_blank" rel="noopener">Maya Boeckh</a>).</p>

<p>The website administrator hereby guarantees they will not use any information collected by the hosting service for any purposes, be they business purposes, audience identification purposes, or other analytical purposes.</p>

<h2>Website Indexing Service</h2>

<p>This website uses the Google Search Console and meta tags in order to help the indexation of its pages.</p>

<p>Overview statistics such as performance and coverage can be viewed by the website administrator.</p>

<p>Any other information collected by Google (Alphabet Inc.) is done so under the <a href="https://policies.google.com/privacy?hl=en-US" target="_blank" rel="noopener">Terms of Service</a> of the Google Search Engine.</p>
