---
import Latest from "./sidebar/Latest.astro";
import Socials from "./sidebar/Socials.astro";
import Tags from "./sidebar/Tags.astro";

---
<Socials />
<div class="separator my-4"></div>
<Latest />
<div class="separator my-4"></div>
<Tags />
