<app-post-body [post]="this.post" [date]="this.post.date">
  <p>I may have had the opportunity to take a one-week trip to South Korea, mostly subsidized by the University of Geneva and a few undisclosed partners.</p>
  <p>By which I mean, I had the opportunity, relished its existence as I had not been able to go there two years prior, and then subsequently went there.</p>

  <h4>Summary</h4>
  <ul>
    <li><a class="no-underline" routerLink="." fragment="day-0">Day 0 - Travel</a></li>
    <li><a class="no-underline" routerLink="." fragment="day-1">Day 1 - Visiting Asiance and Trip South</a></li>
    <li><a class="no-underline" routerLink="." fragment="day-2">Day 2 - Visiting Chonnam National University and Trip North</a></li>
    <li><a class="no-underline" routerLink="." fragment="day-31">Day 3 - Visiting Korea University Business School Startup Station</a></li>
    <li><a class="no-underline" routerLink="." fragment="day-32">Day 3 - Visiting the National Museum of Korea</a></li>
    <li><a class="no-underline" routerLink="." fragment="day-4">Day 4 - Visiting the Swiss Embassy in Korea</a></li>
    <li><a class="no-underline" routerLink="." fragment="day-5">Day 5 - Visiting Hongik University</a></li>
    <li><a class="no-underline" routerLink="." fragment="day-5">Day 6 - Visiting N. Seoul Tower</a></li>
  </ul>

  <br/>
  <h4 id='day-0'>Day 0 - Travel</h4>
  <p>The first day was more two days merged into one very long day.</p>
  <p>The reason for this is we left Geneva Airport on November 5th at 10:00 AM, and arrived in Seoul on November 6th at 06:35 AM (Geneva time still), implying at least 20 hours of travel to arrive in Seoul, transiting through Saudi Arabia (which was not fantastic, see <a href='/post/2023/2023_02_17+gender-paradigm-shift' target="_blank"><em class="fas fa-external-link-square-alt"></em> this blog post</a> to understand why).</p>
  <p>In Seoul, it was Sunday afternoon when we arrived, and we subsequently shuffled to our hotel, checked in, went for fried chicken and beer (a kind of new traditional dish) in a back alley, and then crashed for the night.</p>

  <div class='media-container'>
    <img lazy style='max-height: 500px;' src='/assets/images/2022/221117-korea/1.jpeg' alt="Picture of the back alley where we had dinner." />
    <p>The back alley where we had dinner.</p>
  </div>

  <h4 id='day-1'>Day 1 - Visiting Asiance and Trip South</h4>
  <p>The first "real" day in Seoul, we had some time to wander around the city, where I walked around the Northern side of the city.</p>

  <div class='media-container'>
    <img lazy style='max-width: 70%;' src='/assets/images/2022/221117-korea/2.jpeg' alt="Picture of buildings near the intersection of Namdaemun-ro and Cheonggyecheon-ro." />
    <p>The intersection of Namdaemun-ro and Cheonggyecheon-ro, facing North-North-West.</p>
  </div>

  <div class='media-container'>
    <img lazy style='max-height: 500px;' src='/assets/images/2022/221117-korea/3.jpeg' alt="Picture of buildings near the intersection of Namdaemun-ro and Cheonggyecheon-ro." />
    <p>The intersection of Namdaemun-ro and Cheonggyecheon-ro, facing North-North-West.</p>
  </div>
  <div class='media-container'>
    <img lazy style='max-width: 70%;' src='/assets/images/2022/221117-korea/4.jpeg' alt="Picture of the Cheonggyecheon urban park space." />
    <p>The Cheonggyecheon urban park space.</p>
  </div>
  <div class='media-container'>
    <img lazy style='max-width: 70%;' src='/assets/images/2022/221117-korea/5.jpeg' alt="Picture of the park at the roundabout between Jong-ro 1-gil and Sambong-ro." />
    <p>The park at the roundabout between Jong-ro 1-gil and Sambong-ro.</p>
  </div>

  <p>We then visited Asiance, an e-brand company implanted in the South-East Asia markets, which gave us some perspectives as to how the South-Eastern ecosystems work with regards to tech.</p>

  <div class='media-container'>
    <img lazy style='max-height: 500px;' src='/assets/images/2022/221117-korea/6.jpeg' alt="Picture of the crossing at Jeongdong-gil." />
    <p>The crossing at Jeongdong-gil and (unbeknownst to me) the backside of the Canadian embassy to Korea.</p>
  </div>

  <p>That same evening, we were slated to take a train south to the city of Yeosu, but a very rare train accident occurred the day before which ended up throwing the whole train network in disarray for a day (<a href='https://koreatimes.co.kr/www/nation/2022/11/281_339295.html' target="_blank"><em class="fas fa-external-link-square-alt"></em> see news article</a>).</p>

  <p>So we ended up on a later train and arrived in Yeosu around midnight instead of 19:00 PM.</p>

  <h4 id='day-2'>Day 2 - Visiting Chonnam National University and Trip North</h4>

  <p>The second day started off fantastically, with a good breakfast and a beautiful view.</p>

  <div class='media-container'>
    <img lazy style='max-width: 70%;' src='/assets/images/2022/221117-korea/7.jpeg' alt="Picture of the view from the terrace of the Darakhyu hotel in Yeosu." />
    <p>The seaview from the terrace of the Darakhyu hotel in Yeosu.</p>
  </div>

  <p>It quickly soured when the bus that I was going to take to the Chonnam National University, where a symposium I was supposed to attend took place, simply skipped my stop.</p>
  <p>This meant I had to take another bus and I had to walk up the entire hill up to the university, and arrived late to the symposium.</p>
  <p>Although mildly uninteresting, the whole event was very nicely organized, and we were then promptly brought to the train station to hop on the train back to Seoul.</p>

  <h4 id='day-31'>Day 3 - Visiting Korea University Business School Startup Station</h4>

  <p>The next morning revolved around visiting the Startup incubator Korea University Business School (or KUBS), one of the top 3 universities in Seoul.</p>

  <div class='media-container'>
    <img lazy style='max-height: 500px;' src='/assets/images/2022/221117-korea/8.jpeg' alt="Picture of the π-ville 99 experimental campus at KUBS." />
    <p>The π-ville 99 experimental campus at KUBS.</p>
  </div>

  <div class='media-container'>
    <img lazy style='max-width: 70%;' src='/assets/images/2022/221117-korea/9.jpeg' alt="Picture of the Incheon Memorial Hall at KUBS." />
    <p>The Incheon Memorial Hall at KUBS.</p>
  </div>

  <h4 id='day-32'>Day 3 - Visiting the National Museum of Korea</h4>

  <p>The afternoon was dedicated to cultural exploration, so I legged it to Korea's National Museum and spent a good 3 to 4 hours there.</p>

  <div class='media-container'>
    <img lazy style='max-width: 70%;' src='/assets/images/2022/221117-korea/10.jpeg' alt="Picture of the view from Korea's National Museum." />
    <p>The view from Korea's National Museum.</p>
  </div>

  <h4 id='day-4'>Day 4 - Visiting the Swiss Embassy in Korea</h4>

  <p>On the fourth day, we legged it to the Swiss Embassy where we were to attend a workshop on a creating a technical event to improve relations between Korea and Switzerland.</p>

  <h4 id='day-5'>Day 5 - Visiting Hongik University</h4>

  <p>On the fifth day, we went to Hongik University and saw the various design expositions hosted by the students there.</p>

  <p>We then had a presentation of the design classes hosted by Prof. Chang, most well-known for having helped design the PyeongChang Winter Olympics!</p>

  <h4 id='day-6'>Day 6 - Visiting N. Seoul Tower</h4>

  <p>On the last day I was alone and decided to climb from the city center up to the N. Seoul Tower.</p>

  <div class='media-container'>
    <img lazy style='max-width: 70%;' src='/assets/images/2022/221117-korea/11.jpeg' alt="Picture of the intersection of Toegye-ro and Toegye-ro 12-gil." />
    <p>The intersection of Toegye-ro and Toegye-ro 12-gil.</p>
  </div>

  <div class='media-container'>
    <img lazy style='max-height: 500px;' src='/assets/images/2022/221117-korea/12.jpeg' alt="Picture of the Hanyang Doseong Historic Site Museum." />
    <p>The Hanyang Doseong Historic Site Museum.</p>
  </div>

  <div class='media-container'>
    <img lazy style='max-height: 500px;' src='/assets/images/2022/221117-korea/13.jpeg' alt="Picture of the stairs up to N. Seoul Tower." />
    <p>The stairs up to N. Seoul Tower.</p>
  </div>

  <div class='media-container'>
    <img lazy style='max-width: 70%;' src='/assets/images/2022/221117-korea/14.jpeg' alt="Picture of the cable car." />
    <p>So apparently there's a cable car to get up to the top.</p>
  </div>

  <div class='media-container'>
    <img lazy style='max-width: 70%;' src='/assets/images/2022/221117-korea/15.jpeg' alt="Picture of the view of center Seoul and the platform at the top of the stair climb." />
    <p>The view of center Seoul and the platform at the top of the stair climb.</p>
  </div>

  <div class='media-container'>
    <img lazy style='max-width: 70%;' src='/assets/images/2022/221117-korea/16.jpeg' alt="Picture of the view o1f west Seoul from the top of the N. Seoul Tower." />
    <p>The view of west Seoul from the top of the N. Seoul Tower.</p>
  </div>

  <div class='media-container'>
    <img lazy style='max-width: 70%;' src='/assets/images/2022/221117-korea/17.jpeg' alt="Picture by a friend of the N. Seoul Tower." />
    <p>A picture of the N. Seoul Tower taken by a friend of mine.</p>
  </div>
</app-post-body>
