<app-post-body [post]="this.post" [date]="[2020, 11, 09]">
  <p>Exactly one week after <a target="_blank" href="/post/2020/2020_11_02+I-gave-a-talk-at-BeerCon2">my talk at BeerCon2</a>, I was slated to talk at BSides Islamabad !</p>

  <h4>Summary</h4>
  <ul>
    <li><a class="no-underline" routerLink="." fragment="before-beercon2">Before BeerCon2</a></li>
    <li><a class="no-underline" routerLink="." fragment="preparations">Getting the talk ready</a></li>
    <li><a class="no-underline" routerLink="." fragment="giving">Giving the talk !</a></li>
    <li><a class="no-underline" routerLink="." fragment="my-take-aways">My takeaways from the event.</a></li>
  </ul>

  <h4 id="before-beercon2">Before BeerCon2</h4>
  <p>Upon my gradually increasing hype for BeerCon2 and having submitted a CFP there, my friend <a target="_blank" href="https://twitter.com/BeeFaauBee09" rel="noopener"><em class="fab fa-twitter-square"></em> Ibad</a> said that if I wanted to, I could also submit it to BSides Islamabad.</p>
  <p>So, I reworded my CFP (<a routerLink="." fragment="cfp">below</a>) and provided it, and then a little while later it got accepted !</p>

  <h4 id="preparations">Getting the talk ready</h4>
  <p>Since it was in essentia the same talk as for BeerCon2, I first prepared for that one, and once I had given it, I moved on to modifying it a little.</p>
  <p>Because -- contrary to BeerCon2 -- I had an additional 10 minutes to give my talk (!), and you know what that means: MOAR slides !</p>
  <p>So I modified the few things I wasn't entirely happy with in my BeerCon2 presentation, and I added an entire technical example to it, just to spice it up a little more.</p>
  <app-collapsible buttonText="The slides I added">
    <div class="media-container">
      <iframe src="https://drive.google.com/file/d/1VWdSd_Tnmt7KdpbBtQyBXN6Vrx2fN3K9/preview" class="document" height="500px" title="New slides in the presentation"></iframe>
    </div>
  </app-collapsible>

  <br/><br/>
  <h4 id="giving">Giving the talk !</h4>
  <p>On the day of, I wasn't as stressed as I thought I'd be, catching a few talks along the way.</p>
  <p>When came my time, I just logged on, started sharing my screen, and poof, everything started off well !</p>
  <p>I had to introduce the talk again 30 seconds in due to a small technical malfunction, but that actually didn't phase me !</p>
  <p>Perhaps I should've been phased a bit, because as I was giving the talk, I got to the time-midpoint, and I still had so much to talk about, and as such shifted into high-gear -- a shift that I'm sure was noticeable.</p>
  <br/>
  <p>During the Q&A, a very interesting question was asked of me: "Do I think knowing programming is required to get into InfoSec ?"</p>
  <p>Although I myself come from a development background, I personally believe that one can enter InfoSec without any programming knowledge whatsoever, but that certain domains within InfoSec do (for example malware reversal).</p>
  <p>I may not have put it into these words specifically, but that was my answer to the question that is certain to feel like a locked gate for the aspirations of those interested !<br/>To be fair, I still don't believe I'm entirely in InfoSec yet, because I lack so much of the underlying knowledge and terminology. But I'm getting there, and anyone can !</p>

  <h4 id="my-take-aways">My takeaways from the event.</h4>
  <p>The event was well organised and structured, we had open lines of communication and an entire Discord server packed with attendees and speakers, which was awesome !</p>
  <p>There were few rookie speakers and I would like in the future to see a day dedicated to Pakistani (potentially rookie) speakers !</p>
  <p>All in all it was a fun experience !</p>
  <br/>
  <app-collapsible id="cfp" buttonText="My CFP">
    <div class="media-container">
      <iframe src="https://drive.google.com/file/d/1E8rKCln3HuYjJye1x0xXyKkY3HGDvpJA/preview" class="document" height="640px" title="The CFP I submitted"></iframe>
    </div>
  </app-collapsible>
</app-post-body>
