<app-post-body [post]="this.post" [date]="this.post.date">
<p>so uhhhh, a year or so ago, i bought a domain and didn't do anything with it (as one does)</p>

<p>anyways... back in february, i started a whole project of hosting various services for myself and a few friends, including - but not limited - to a fediverse instance. this was written about in a previous article on this blog (in this <a href='/post/2025/2025_02_21%2Bmaya-does-an-infrastruktur' target="_blank"><em class="fas fa-link"></em> post</a>)</p>

<p>anyways, 6 months of self-hosting, adhd and other shenanigans later, what the hell even is catgirl.global?</p>

<p>so, after deploying an entire authentication platform (as one does), one had to sort out some relevant associated other projects that would rely on said authentication. this includes hosting hedgedoc (an online notepad), forgejo (a git hosting site) and grafana (dashboards!).</p>

<p>but that is not all, because sadly some services do not provide the required facilities for SSO. </p>

<p>among the other services i host is gonic (a subsonic compatible music client), uptime kuma (an uptime monitoring tool), nextcloud/collabora (online documents), ntfy (for notifications) etc.</p>

<p>anyways, this is a lot of work, and still very much a constant work in progress, but it is quite fun over time.</p>

<p>stay tuned?</p>
</app-post-body>