---

import { Image } from "astro:assets";

interface Props {
    image: ImageMetadata;
    alt: string;
    desc?: string;
    nodesc?: boolean;
    style: string;
}

const { image, desc, nodesc, alt, style } = Astro.props;
---

<div class='media-container mb-3'>
  <Image src={image} style={style} alt={alt} />
  {!nodesc && <span class="small text-center mt-1"><caption><em>{desc ?? alt}</em></caption></span>}
</div>