<app-post-body [post]="this.post" [date]="this.post.date">

  <h2>The write-ups</h2>

  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="col-md-4"><a rel="noopener" href="/post/2022/2022_01_30+knight-ctf-2022-cryptography-writeups"><div class="card text-center p-4">CRYPTOGRAPHY CHALLENGE WRITE-UPS</div></a></div>
    <div class="col-md-4"><a rel="noopener" href="/post/2022/2022_01_30+knight-ctf-2022-misc-writeups"><div class="card text-center p-4">MISC CHALLENGE WRITE-UPS</div></a></div>
    <div class="col-md-4"><a rel="noopener" href="/post/2022/2022_01_30+knight-ctf-2022-programming-writeups"><div class="card text-center p-4">PROGRAMMING CHALLENGE WRITE-UPS</div></a></div>
  </div>
  <div class='d-flex flex-row justify-content-center align-items-center'>
    <div class="col-md-4"><a rel="noopener" href="/post/2022/2022_01_30+knight-ctf-2022-reverse-writeups"><div class="card text-center p-4">REVERSE CHALLENGE WRITE-UPS</div></a></div>
  </div>
  <br/>
  <p>I gave them each a page for legibility's sake. Also, you may want to preserve your scroll finger.</p>

  <hr/>

  <h2>The story</h2>

  <p><a target="_blank" href="https://twitter.com/Digit4lOverdose" rel="noopener"><em class="fab fa-twitter-square"></em> Digital Overdose</a> - the community I help manage - has a CTF team, with whomI sometimes participate in CTF events with.</p>

  <p>I tried experimenting and getting out of my comfort zone with this CTF, solving a few  challenges in categories I am not necessarily as good at, which was an eye-opening experience.</p>

  <p>I did most of the challenges in disorder, but I spent a certain amount of time breaking the cryptography challenges. You can find those write-ups <a target="_blank" href="/post/2022/2022_01_30+knight-ctf-2022-cryptography-writeups" rel="noopener"><em class="fas fa-link"></em> here</a>.</p>

  <p>I also dealt with the various challenges that exist in the misc category, the write-ups of which you can findp <a target="_blank" href="/post/2022/2022_01_30+knight-ctf-2022-misc-writeups" rel="noopener"><em class="fas fa-link"></em> here</a>.</p>

  <p>My favorite category is of course related to various programming challenges. More about that <a target="_blank" href="/post/2022/2022_01_30+knight-ctf-2022-programming-writeups" rel="noopener"><em class="fas fa-link"></em> here</a>.</p>

  <p>I've also dealt with two Android Reverse Engineering challenges, which are documented <a target="_blank" href="/post/2022/2022_01_30+knight-ctf-2022-reverse-writeups" rel="noopener"><em class="fas fa-link"></em> here</a>.</p>
</app-post-body>
