<app-post-body [post]="this.post" [date]="this.post.date">
  <p>My month of September was mostly unremarkable, beyond the usual shenanigans at work as well as the week I took off to go to Berlin and then Amsterdam for some actual holidays.</p>

  <p>Towards the end of the month, I headed to London and then took a train up to Newcastle to attend my first in-person <s>bonclesides</s> BSides NCL.</p>

  <div class="media-container">
    <img loading="lazy" alt='Map of England, with Newcastle upon Tyne circled in red' src="/assets/images/post/2023/230930-attending-bonclesides/map.png">
    <span><em>"Where in the blazes is Newcastle even?"</em></span>
  </div>

  <p>There, I met up with <a target="_blank" href="https://twitter.com/_nynan" rel="noopener"><em class="fab fa-twitter-square"></em> Alana</a> and <a target="_blank" href="https://b0.ax/@bonzi" rel="noopener"><em class="fab fa-mastodon"></em> Bonzi</a> before checking into my hotel, and getting myself ready for Presides.</p>

  <p>Presides, being the unofficial/official pre-conference gettogether is usually attended by most conference goers. There, I ran into my friends <a target="_blank" href="https://twitter.com/ddsgerard" rel="noopener"><em class="fab fa-twitter-square"></em> Ger</a>, <a target="_blank" href="https://twitter.com/scottmcgready" rel="noopener"><em class="fab fa-twitter-square"></em> Scott</a>, <a target="_blank" href="https://twitter.com/binarysleeper" rel="noopener"><em class="fab fa-twitter-square"></em> Mark</a>, <a target="_blank" href="https://twitter.com/_davewm_" rel="noopener"><em class="fab fa-twitter-square"></em> Dave</a>, and some of the others from the Infosec Happy Hour gang.</p>

  <p>The Infosec Happy Hour was an online gettogether of Infosec people (mainly UK based) during COVID, and we have still retained close contact since then. Most of that crew actually became the original members of the Adorably Persistent Team (or APT) Discord community, of which members such as <a target="_blank" href="https://twitter.com/DuncanCyber" rel="noopener"><em class="fab fa-twitter-square"></em> Geo</a>, Rosa, and more were also in attendance.</p>

  <p>Instead of going to Infosec Steak Night (is exactly what it sounds like, some people going to eat steak), the gang ended up going to a very good Japanese restaurant in Newcastle, before rejoining presides.</p>

  <p>The next morning, as is tradition, I realized I hadn't finished my slides yet and went to a coffeeshop to start working with one of my most favorite brain fuels: a quad shot espresso.</p>

  <p>I got "most" of the way through before actually heading to the conference opening, which was definitely not an event to miss, including a fun sing-along.</p>

  <div class='media-container'>
    <ngx-tweet tweetId='1708071921219256515'></ngx-tweet>
  </div>

  <p>My friends <a target="_blank" href="https://twitter.com/nyxilar" rel="noopener"><em class="fab fa-twitter-square"></em> Emily</a> and Jules were motivated to play the CTF, and since I uhhh... had my computer open to uhhh... finish my slides, I ended up playing as well. <g-emoji class="g-emoji" alias="telescope" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f605.png">😅</g-emoji></p>

  <p>This went on for most of the event, where I was sporadically editing two or three slides before going back to some OSINT or trawling through logs.</p>

  <p>In the end, I ended up not writing a set of slides, and decided to replace them with the following - funnier - slide.</p>

  <div class="media-container">
    <img loading="lazy" alt='Screenshot of a slide, titled "Weaponizing it", with the text showig "<Maya was playing the CTF and will ad-lib this" with a picture of the scorebaord underneath.' style="max-height: 300px" src="/assets/images/post/2023/230930-attending-bonclesides/ctf-halfway-scoreboard.png">
    <span><em>The ADD "ooh, a butterfly" slide.</em></span>
  </div>

  <p>With my talk - an in depth look into impostor syndrome - out of the way, and a very interactive Q&A moment where people were sharing their experiences, I headed back to the CTF room, where I noticed I had lost the lead.</p>

  <p>Whilst hanging for dear life and hacking like there was no tomorrow, on a laptop that pretty much feels like it had no tomorrow either (it slooooooooooooow), I managed to scrape just enough points to get back into 2nd place by a hair's margin of 210 points, whilst still being an impressive 850 points away from 1st place.</p>

  <div class="media-container">
    <img loading="lazy" alt='A scoreboard' style="max-height: 300px" src="/assets/images/post/2023/230930-attending-bonclesides/ctf-final-scoreboard.png">
    <span><em>Final scores.</em></span>
  </div>

  <p>With that excitement out of the way, we all went to the post-sides event, before tearfully saying goodbye to one another (or something).</p>

  <p>The next day, I once again linked up with Alana, Emily, Jules and Bonzi, and we waited at a Greggs for our respective trains to depart one after another.</p>

  <p>Did you know? Apparently Newcastle has the most Greggs per capita of any city in the world.</p>

  <p>Anyhoo, I was the last to leave Newcastle, and upon arriving back in London I reflected that this had indeed been a BSides true to its motto, <em>"Making BSides weird again"</em>.</p>
</app-post-body>
