<app-post-body [post]="this.post" [date]="[2021, 01, 20]">
  <p>One of the other speakers at BeerCon2, <a target="_blank" href="https://twitter.com/josh_moore4" rel="noopener"><em class="fab fa-twitter-square"></em> Joshua Moore</a> is a member of the Leeds Ethical Hacking Society, and was interested to see if any of the BeerCon speakers would want to present something there.</p>
  <p>So I said yes, and decided on talking about ENISA's IoT cybersecurity recommendations.</p>
  <p>Long story short there's a lot of them, and that quantity makes it extremely hard for anyone interested in developing for IoT to actually get things off the ground, be they a company or just a team of motivated developers.</p>
  <p>The main issues are of course that there are multiple constraints, such as time, money, people and the quality of the provided solution.</p>
</app-post-body>
