<app-post-body [post]="this.post" [date]="[2020, 11, 02]">
  <p>There's a great many jokes that start with "A developer enters a bar", but I would be hardpressed to see one that ends with "And he gave a talk about IoT/Mobile development security".</p>
  <p>And yet, I've just lived through that, and it was no joke !</p>

  <h4>Summary</h4>
  <ul>
    <li><a class="no-underline" routerLink="." fragment="the-road-so-far">The road so far !</a></li>
    <li><a class="no-underline" routerLink="." fragment="how-did-i-get-involved-in-this">How did I get involved in this ?</a></li>
    <li><a class="no-underline" routerLink="." fragment="oh-shit">Oh shit I now need to write the damned thing.</a></li>
    <li><a class="no-underline" routerLink="." fragment="the-many-averted-fuckups">The many averted fuckups.</a></li>
    <li><a class="no-underline" routerLink="." fragment="the-big-day-s">The big day(s).</a></li>
    <li><a class="no-underline" routerLink="." fragment="my-take-aways">My takeaways from the event.</a></li>
    <li><a class="no-underline" routerLink="." fragment="howd-you-do-fellow-speakers">My fellow speakers (and their talks) !</a></li>
    <li><a class="no-underline" routerLink="." fragment="the-many-thanks">The many thanks list</a></li>
  </ul>
  <h4 id="the-road-so-far">The road so far !</h4>
  <p>Flashback to a few years ago, in May of 2020 (at least from my psychological perspective of the decade that was 2020).<br/>
    There, I found myself scrolling the Twitterverse, somewhat aware of the InfoSec community on Twitter, but not interacting with it that much.<br/>
    So when <a target="_blank" href="https://twitter.com/gamithra_marga"><i class="fab fa-twitter-square"></i> Gamithra</a> popped into my feed, saying she was building a Discord server to practice CTF boxes on <a target="_blank" href="http://hackthebox.com/">HTB</a> and <a target="_blank" href="https://tryhackme.com/">THM</a>, and I requested to join said server, little did I know where that would lead me.</p>
  <p>There I met one of my soon to be best friends, <a target="_blank" href="https://twitter.com/lennaert89"><i class="fab fa-twitter-square"></i> Lennaert</a>, and through many activities (such as mindless chatting, distanced drinking and occasionally playing Mindnight or Minecraft), we got closer.</p>
  <p>At some point, Lennaert tells me about this weekly meetup on Friday evenings with people from the InfoSec community, aka. InfoSec Happy Hour.</p>
  <p>Originally, I felt I would be quite out of place joining that meetup, and quite heftily refused. A short while later though, I -- whilst inebriated, said I would at least partake in the experience once.</p>
  <p>And that is how I came to be a card-holding (not really) regular member of the InfoSec Happy Hour crew !</p>
  <br/>
  <h4 id="how-did-i-get-involved-in-this">How did I get involved in this ?</h4>
  <p>Fast-forward to mid/late September, COVID-19 is rampant, everything is more-or-less shutdown, and many conventions with rookie speaker tracks have decided to cancel (because -- allegedly -- no one wants to attend virtual conferences).</p>
  <p>All the while, after being de<b>liver</b>ed from my apprehensions in joining the Happy Hour gang, <a target="_blank" href="https://twitter.com/TheBeerFarmers"><i class="fab fa-twitter-square"></i> The Beer Farmers</a> announce they will be having a second iteration of their convention, the infamous BeerCon, aptly named <i>BeerCon2: Rise of the Rookie</i>.</p>

  <div class="media-container py-2"><iframe src="https://www.youtube.com/embed/UoCsSa2mjcU" width="560" height="315" frameborder="0"></iframe></div>
  <p>That tagline is also the key selling point ? The only people that are allowed to speak there this time around are rookie speakers ! (ie. people who've never spoken anywhere before).</p>
  <p>After some nudging in the first few days (done to me, not by me), I submit a CFP titled "Securely storing and transmitting information on mobile/IoT devices: A story in development" (which can be found <a target="_blank" href="https://drive.google.com/file/d/1A7owRWBNLkjhWL2H9BscVh87QcJ08Wmq/view?usp=sharing">here</a>).</p>
  <p>A week or two pass by, and I get the answer ! My CFP was accepted !</p>
  <p>Wooohooo !</p>
  <div class="media-container">
    <ngx-tweet id="bc2-tweet" tweetId="1320070467835879424"></ngx-tweet>
  </div>

  <br/>
  <h4 id="oh-shit">Oh shit I now need to write the damned thing.</h4>
  <p>Apparently, choosing a subject as vast as "the entirety of secure storage and transmission for IoT and mobile devices" is not necessarily a 300 IQ move, especially not for a rookie speaker.</p>
  <p>I get into writing the talk, mostly using my CFP as a guiding board, and manage to divide the flow of it into 5 parts:</p>
  <ul>
    <li>Where ? - The scope of the problem and how I relate to it.</li>
    <li>What ? - The terminology and ideas that comprise the subject.</li>
    <li>Why ? - The people, the technology, the risks and incident fallout.</li>
    <li>How ? - Fixing the problem.</li>
    <li>Wait, say again ? - An overview of things I'd heard in the field.</li>
  </ul>
  <p>Mind you, I only have 30 minutes to talk about all of this. So I time myself saying the things, and I manage to cram in 47 slides.</p>
  <br/>

  <h4 id="the-many-averted-fuckups">The many averted fuckups.</h4>
  <p>The multitude of positive things that happened at and emanated from BeerCon2 is mostly due to the mentors.</p>
  <p>Since we were all rookie speakers, 5 seasoned speakers had volunteered their time and energy to mentor us, and help us with our presentations.</p>
  <p>The names of these MVP's are:</p>
  <ul>
    <li><a target="_blank" href="https://twitter.com/RoseSecOps"><i class="fab fa-twitter-square"></i> Zoë Rose</a></li>
    <li><a target="_blank" href="https://twitter.com/coffee_fueled"><i class="fab fa-twitter-square"></i> James Bore</a></li>
    <li><a target="_blank" href="https://twitter.com/ClaireTills"><i class="fab fa-twitter-square"></i> Claire Tills</a></li>
    <li><a target="_blank" href="https://twitter.com/davewj"><i class="fab fa-twitter-square"></i> Dave McKenzie</a></li>
    <li><a target="_blank" href="https://twitter.com/safesecs"><i class="fab fa-twitter-square"></i> Sam Humphries</a></li>
  </ul>
  <p>Speaking for myself, I was told that there was some content I could potentially cut from the presentation, and that a few visual details to be added or amended could make the presentation become even better.</p>
  <p>Aside from the mentors, us speakers banded together to preview each others talks and -- most importantly -- to practice them.</p>

  <p>On the side, I'd taken the opportunity to ask a few people their opinions on my talk to gain an outside view on it, notably:</p>
  <ul>
    <li><a target="_blank" href="https://twitter.com/RayRedacted"><i class="fab fa-twitter-square"></i> Ray [REDACTED]</a></li>
    <li><a target="_blank" href="https://twitter.com/5w0rdfish"><i class="fab fa-twitter-square"></i> Chrissy Morgan</a></li>
    <li><a target="_blank" href="https://twitter.com/TheCyberViking"><i class="fab fa-twitter-square"></i> Dean</a></li>
  </ul>

  <p>In hindsight, I would've had a lot more issues giving my talk in the alloted time if I hadn't gone through the ringer a few times, gained my footing and cut a bit of content left and right.</p>

  <h4 id="the-big-day-s">The big day(s).</h4>
  <p>So, along comes Thursday the 29th of October, and I'm scheduled to deliver my talk at 12:50 local time.</p>
  <p>I take all of my stuff (webcam, microphone, laptop, etc.) and bring it with me to university, where I'd planned to give my talk from.</p>
  <p>I arrive there a few minutes before the opening keynote, and then start watching it from the comfort of my desk, slightly incredulous that I'm going to be a part of this !</p>
  <p>Then the first talk -- titled "DevOps and Dragons: A guide to working differently through fantasy roleplay" -- hits, where <a target="_blank" href="https://twitter.com/ZSlater93"><i class="fab fa-twitter-square"></i> Zak Slater</a> goes into detail as to how aspects of LARPing (aka. Live-Action Role-Playing) can be found in incident simulations, which really bluffs me !<br/>Except it also scares me. Because I'd seen that high quality of a talk, I was suddenly afraid of how I would perform, and I start getting all jittery.</p>
  <p>Right after that, <a target="_blank" href="https://twitter.com/juan_spinel"><i class="fab fa-twitter-square"></i> Juan Spinel</a> does a deep dive on "GDPR, The Good intentions, The Bad Implementations & the Ugly Loopholes". Yet another fantastic talk, and my nerves don't subside.</p>
  <p>Surely that couldn't be a constant for the convention right ? Surely I wouldn't be the only one feeling insecure about their talk ? Next up was <a target="_blank" href="https://twitter.com/yellowcap_ghost"><i class="fab fa-twitter-square"></i> Ben Ellis</a>.<br/>I knew from our runs together that he too was stressed. Although at the beginning his nerves did show, he steeled them and blasted it out of the park in his talk on how to grind Tokyo -- the capital of convenience -- to a halt in "Tokyo Takedown: How 10 seconds can change the world?"</p>
  <p>Whilst <a target="_blank" href="https://twitter.com/TheBeerFarmers"><i class="fab fa-twitter-square"></i> The Beer Farmers</a> and <a target="_blank" href="https://twitter.com/davewj"><i class="fab fa-twitter-square"></i> Dave McKenzie</a> hashed out war stories, I got into the waiting room, prepared to meet my fate.<br/>My jitters had not subsided, and I was really stressed.</p>
  <p>In the waiting room, <a target="_blank" href="https://twitter.com/lennaert89"><i class="fab fa-twitter-square"></i> Lennaert</a> and <a target="_blank" href="https://twitter.com/ddsgerard"><i class="fab fa-twitter-square"></i> Gerard</a>, acting as roadies for BeerCon2, and <a target="_blank" href="https://twitter.com/coffee_fueled"><i class="fab fa-twitter-square"></i> James</a> were all there to help me calm down.<br/>Then my time was at hand.</p>

  <br/>
  <p>I start out quite stressed, going through a portion of my talk before feeling the sense of familiarity that came with my knowing it.</p>
  <p>I cut some content in the middle and finish in about 28 minutes, get one or two questions and then it's finally over.<br/>A sense of relief washes over me: I'd done it.</p>
  <p>You can see for yourself here:</p>
  <div class="media-container"><iframe src="https://www.youtube.com/embed/o1absxAzRjY" width="560" height="315" frameborder="0"></iframe></div><br/>
  <p>I've chosen to make the slides available to everyone <a target="_blank" href="https://github.com/AtomicNicos/talks/raw/main/nicolas-boeckh%40beercon-2.pptx">here</a>. They are released under <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">Creative Commons CC-BY-SA</a>, so basically anyone can use and remix them as they wish, so long as they credit me as being the original author as well as mention what they've changed.</p>
  <p>In my talk I've cited a few resources, they are:</p>
  <ul>
    <li>Henri Jiang's Map of Cybersecurity domains (<a target="_blank" href="https://www.linkedin.com/pulse/map-cybersecurity-domains-version-20-henry-jiang-ciso-cissp/"><i class="fas fa-external-link-square-alt"></i> link</a>)</li>
    <li><a target="_blank" href="https://twitter.com/smealum"><i class="fab fa-twitter-square"></i> @smealum</a>'s DEFCON 27 talk "Adventures in Smart Buttplug Penetration testing" (<a href="https://www.youtube.com/watch?v=RnxcPeemHSc"><i class="fas fa-external-link-square-alt"></i> link</a>)</li>
    <li><a target="_blank" href="https://twitter.com/tautology0"><i class="fab fa-twitter-square"></i> @tautology0</a>'s collected thread about hacking BLE smart locks (<a href="https://www.pentestpartners.com/security-blog/360lock-smart-lock-review/"><i class="fas fa-external-link-square-alt"></i> link</a>)</li>
    <li>Using concurrency issues to produce funky and destructive results in Android (<a target="_blank" href="https://www.researchgate.net/publication/315871892_Effectively_Manifesting_Concurrency_Bugs_in_Android_Apps"><i class="fas fa-external-link-square-alt"></i> link</a>)</li>
    <li>Detecting sleep using mobile sensors (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5413802/"><i class="fas fa-external-link-square-alt"></i> link</a>)</li>
    <li>IoT Child Tracking watch information disclosure news article (<a target="_blank" href="https://www.rtlnieuws.nl/tech/artikel/4213081/duizenden-nederlandse-kinderen-stiekem-te-volgen-onveilige-smartwatch"><i class="fas fa-external-link-square-alt"></i> link</a>)</li>
    <li><a target="_blank" href="https://twitter.com/LisaForteUK"><i class="fab fa-twitter-square"></i> @LisaForteUK</a>'s Rebooting Special - Rebooting Resilience (<a href="https://www.youtube.com/watch?v=bp6QGueqAH0"><i class="fas fa-external-link-square-alt"></i> link</a>)</li>
    <li>IEEE754 float conversion tool (<a target="_blank" href="https://www.h-schmidt.net/FloatConverter/IEEE754.html"><i class="fas fa-external-link-square-alt"></i> link</a>)</li>
    <li>The Schmoo Group's DEFCON 11 talk (2003) on Bluetooth Wardriving: (<a target="_blank" href="https://media.defcon.org/DEF%20CON%2011/DEF%20CON%2011%20presentations/DEF%20CON%2011%20-%20potter.pdf"><i class="fas fa-external-link-square-alt"></i> link</a>)</li>
    <li>NY Times Privacy Project (2019) - "ONE NATION, TRACKED: AN INVESTIGATION INTO THE SMARTPHONE TRACKING INDUSTRY FROM TIMES OPINION" (<a target="_blank" href="https://www.nytimes.com/interactive/2019/12/19/opinion/location-tracking-cell-phone.html"><i class="fas fa-external-link-square-alt"></i> link</a>)</li>
  </ul>
  <br/>

  <h5 id="my-take-aways">My takeaways from the event.</h5>
  <p>Everyone really gave their all to talk about something that was interesting and dear to them, and it permeated through their presentations.</p>
  <p>These weren't talks by people in suits, who'd done talks for the last 10 years, and thus didn't have the same energy behind it.</p>
  <p>The energy behind it was one aimed at sharing, one of community, one of mutual aid.<br/>
    And all of that my friends, is beautiful.</p>
  <p><a target="_blank" href="https://twitter.com/TheBeerFarmers"><i class="fab fa-twitter-square"></i> The Beer Farmers</a> have a catchprase (#HereForYou), and they definitely delivered on that promise, from setting up the event, to being involved in it for it's whole duration, for the general good vibes they brought all along, to finally the efficiency with which they made the content available online.</p>

  <h5 id="howd-you-do-fellow-speakers">My fellow speakers (and their talks) !</h5>
  <p>I'd be remiss if I talked about the first few talks without actually linking them and the speakers.<br/>All of these are brilliant, and you should definitely have a look !</p>

  <table class="table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Speaker</th>
        <th scope="col">Talk</th>
      </tr>
    </thead>
    <tbody>
      <td colspan="3">Day 1</td>
      <tr>
        <td scope="row">0</td>
        <td><a target="_blank" href="https://twitter.com/ZSlater93"><i class="fab fa-twitter-square"></i> Zak Slater</a></td>
        <td>DevOps and Dragons: A guide to working differently through fantasy roleplay
          (<a target="_blank" href="https://www.youtube.com/watch?v=ZiU6Ocvza-I"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">1</td>
        <td><a target="_blank" href="https://twitter.com/juan_spinel"><i class="fab fa-twitter-square"></i> Juan Spinel</a></td>
        <td>GDPR, The Good intentions, The Bad Implementations & the Ugly Loopholes
          (<a target="_blank" href="https://www.youtube.com/watch?v=mEIwt2PosME"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">2</td>
        <td><a href="https://twitter.com/yellowcap_ghost"><i class="fab fa-twitter-square"></i> Ben Ellis</a></td>
        <td>Tokyo Takedown: How 10 seconds can change the world?
          (<a target="_blank" href="https://www.youtube.com/watch?v=2Wcz8n4Hnb0"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">3</td>
        <td><a target="_blank" href="https://twitter.com/MujoSec"><i class="fab fa-twitter-square"></i> Nikhil Mohanlal</a></td>
        <td>Demystifying ZeroTrust
          (<a target="_blank" href="https://www.youtube.com/watch?v=9T1kpoiIIa8"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">4</td>
        <td><a target="_blank" href="https://twitter.com/RaeJeffriesh"><i class="fab fa-twitter-square"></i> Rae Jeffries-Harris</a></td>
        <td>Your Friendly Neighborhood Hacker
          (<a target="_blank" href="https://www.youtube.com/watch?v=FP97GmLvfW4"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">5</td>
        <td><a target="_blank" href="https://twitter.com/danjconn"><i class="fab fa-twitter-square"></i> Dan Conn</a></td>
        <td>Using OPSEC and Social Engineering as AWOL (A Way Of Life).
          (<a target="_blank" href="https://www.youtube.com/watch?v=Fdc_BwB3NII"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">6</td>
        <td>Marius Poskus</td>
        <td>Att&ck the Cloud! Common techniques and how threat informed defence can help?
          (<a target="_blank" href="https://www.youtube.com/watch?v=MAyM6e2CY_g"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">7</td>
        <td><a target="_blank" href="https://twitter.com/ElizabethMomola"><i class="fab fa-twitter-square"></i> Elizabeth Momola</a></td>
        <td>How to move from Admin to Security Analyst - survival story of a Graduate Apprentice
          (<a target="_blank" href="https://www.youtube.com/watch?v=REHFNY2_Dn8"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">8</td>
        <td><a target="_blank" href="https://twitter.com/McLabraid"><i class="fab fa-twitter-square"></i> Seán G</a></td>
        <td>DoSsing around: HaHa packets go brr
          (<a target="_blank" href="https://www.youtube.com/watch?v=jRR8nLwj_mQ"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">9</td>
        <td><a target="_blank" href="https://twitter.com/gl4cierBlue"><i class="fab fa-twitter-square"></i> Vivian Band</a></td>
        <td>Malicious Mass Host Recruitment over IPv6
          (<a target="_blank" href="https://www.youtube.com/watch?v=f__mCRAx8yc"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">10</td>
        <td><a target="_blank" href="https://twitter.com/shahrukhiqbal24"><i class="fab fa-twitter-square"></i> Shahrukh Iqbal Mirza</a></td>
        <td>Kerberoasting
          (<a target="_blank" href="https://www.youtube.com/watch?v=iPV30lLrUIQ"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">11</td>
        <td><a target="_blank" href="https://twitter.com/t3chbits"><i class="fab fa-twitter-square"></i> t3chbits</a></td>
        <td>Why you should give your developers coca*ne & caviar
          (<a target="_blank" href="https://www.youtube.com/watch?v=NrZ9z_Tm8d4"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td colspan="3">Day 2</td>
      </tr>
      <tr>
        <td scope="row">12</td>
        <td><a target="_blank" href="https://twitter.com/ErrorByNight"><i class="fab fa-twitter-square"></i> Chloe</a><br/>
          <a target="_blank" href="https://twitter.com/Techypossible"><i class="fab fa-twitter-square"></i> Jennifer</a><br/>
          <a target="_blank" href="https://twitter.com/Lottie1326"><i class="fab fa-twitter-square"></i> Charlie</a></td>
        <td>A sudo guide to our experiences in hackathons and ctfs
          (<a target="_blank" href="https://www.youtube.com/watch?v=YGdYWvgwfhY"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">13</td>
        <td><a target="_blank" href="https://twitter.com/jimmybuk"><i class="fab fa-twitter-square"></i> James Birdseye</a></td>
        <td>The box in the corner, not the one that goes beep
          (<a target="_blank" href="https://www.youtube.com/watch?v=dSzLrClNVt4"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">14</td>
        <td><a target="_blank" href="https://twitter.com/michaelfow"><i class="fab fa-twitter-square"></i> Michael Fowler</a></td>
        <td>Communicate better by knowing yourself a little bit more
          (<a target="_blank" href="https://www.youtube.com/watch?v=A3ayUmXi7ws"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">15</td>
        <td><a target="_blank" href="https://twitter.com/ddsgerard"><i class="fab fa-twitter-square"></i> Gerard Barrett</a></td>
        <td>Impact of Data Breaches to Insurance Fraud
          (<a target="_blank" href="https://www.youtube.com/watch?v=277ckiXpgRw"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">16</td>
        <td><a target="_blank" href="https://twitter.com/CyberSecV"><i class="fab fa-twitter-square"></i> Vix Szymanska</a></td>
        <td>Lessons learned from my first year in cybersecurity: tales of an exhausted pigeon
          (<a target="_blank" href="https://www.youtube.com/watch?v=yAb1SZIqUg8"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">17</td>
        <td>Aqeeb Hussain</td>
        <td>Gaining an initial foothold on your target
          (<a target="_blank" href="https://www.youtube.com/watch?v=yog5WjtCfeo"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">18</td>
        <td><a target="_blank" href="https://twitter.com/kali_denali"><i class="fab fa-twitter-square"></i> Khaula Karim</a></td>
        <td>Setting up Malware Dissection Box
          (<a target="_blank" href=""><i class="fas fa-external-link-square-alt"></i> link [unavailable as of 03/11, technical issues]</a>)</td>
      </tr>
      <tr>
        <td scope="row">19</td>
        <td><a target="_blank" href="https://twitter.com/JamesHare_BFX"><i class="fab fa-twitter-square"></i> James Hare</a></td>
        <td>Managing The Patch Cycle with Modern Tools
          (<a target="_blank" href="https://www.youtube.com/watch?v=IUG-KoosV_8"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">20</td>
        <td><a target="_blank" href="https://twitter.com/ayushpriya10"><i class="fab fa-twitter-square"></i> Ayush Priya</a></td>
        <td>Hunting Secrets in Code
          (<a target="_blank" href="https://www.youtube.com/watch?v=uJMhsx2Cv78"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">21</td>
        <td><a target="_blank" href="https://twitter.com/BushidoToken"><i class="fab fa-twitter-square"></i> Will Thomas</a></td>
        <td>Gone Phishin' / Attack of the Phish (something something phishing)
          (<a target="_blank" href="https://www.youtube.com/watch?v=REVItTHz2-c"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">22</td>
        <td><a target="_blank" href="https://twitter.com/Binarysleeper"><i class="fab fa-twitter-square"></i> Mark S</a></td>
        <td>Shocking Tales of Common Fails - a responder's view
          (<a target="_blank" href="https://www.youtube.com/watch?v=ZarEzZdnoTI"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">23</td>
        <td><a target="_blank" href="https://twitter.com/josh_moore4"><i class="fab fa-twitter-square"></i> Joshua Moore</a></td>
        <td>COVIDCATION - surviving education and making the most of it in a time of uncertainty
          (<a target="_blank" href="https://www.youtube.com/watch?v=Kv8cV27acoI"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">24</td>
        <td><a target="_blank" href="https://twitter.com/strongthany_"><i class="fab fa-twitter-square"></i> Parker Seaman</a></td>
        <td>when I tried to hack a freal machine and what that taught me about OSINT and life
          (<a target="_blank" href="https://www.youtube.com/watch?v=2pSXCyxaO_o"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>
      <tr>
        <td scope="row">25</td>
        <td><a target="_blank" href="https://twitter.com/lennaert89"><i class="fab fa-twitter-square"></i> Lennaert Oudshoorn</a></td>
        <td>Ethics in Ethical Hacking & Responsible Disclosure
          (<a target="_blank" href="https://www.youtube.com/watch?v=Oing7VmKS7w"><i class="fas fa-external-link-square-alt"></i> link</a>)</td>
      </tr>

    </tbody>
  </table>

  <h5 id="the-many-thanks">The many thanks list</h5>
  <p>The many people without whom this event would not have taken place, or that personally helped me in building my talk.</p>
  <br/>
  <ul>
    <li>
      <a target="_blank" href="https://twitter.com/TheBeerFarmers"><i class="fab fa-twitter-square"></i> The Beer Farmers</a>
      <ul>
        <li><a target="_blank" href="https://twitter.com/SeanWrightSec"><i class="fab fa-twitter-square"></i> Sean Wright</a></li>
        <li><a target="_blank" href="https://twitter.com/appsecbloke"><i class="fab fa-twitter-square"></i> Mike Thompson</a></li>
        <li><a target="_blank" href="https://twitter.com/ScottMcGready"><i class="fab fa-twitter-square"></i> Scott McGready</a></li>
        <li><a target="_blank" href="https://twitter.com/j_opdenakker"><i class="fab fa-twitter-square"></i> John Opdenakker</a></li>
        <li><a target="_blank" href="https://twitter.com/phat_hobbit"><i class="fab fa-twitter-square"></i> Ian Thornton-Trump</a></li>
      </ul>
    </li>
    <br/>
    <li>
      The BeerCon2 Mentors
      <ul>
        <li><a target="_blank" href="https://twitter.com/RoseSecOps"><i class="fab fa-twitter-square"></i> Zoë Rose</a></li>
        <li><a target="_blank" href="https://twitter.com/coffee_fueled"><i class="fab fa-twitter-square"></i> James Bore</a></li>
        <li><a target="_blank" href="https://twitter.com/ClaireTills"><i class="fab fa-twitter-square"></i> Claire Tills</a></li>
        <li><a target="_blank" href="https://twitter.com/davewj"><i class="fab fa-twitter-square"></i> Dave McKenzie</a></li>
        <li><a target="_blank" href="https://twitter.com/safesecs"><i class="fab fa-twitter-square"></i> Sam Humphries</a></li>
      </ul>
    </li>
    <br/>
    <li>
      The BeerCon2 Sponsors
      <ul>
        <li><a target="_blank" href="https://twitter.com/ToHpodcast"><i class="fab fa-twitter-square"></i> Tribe of Hackers Podcast</a></li>
        <li><a target="_blank" href="https://twitter.com/QuorumCyber"><i class="fab fa-twitter-square"></i> Quorum Cyber</a></li>
        <li><a target="_blank" href="https://twitter.com/PenTestPartners"><i class="fab fa-twitter-square"></i> Pen Test Partners</a></li>
        <li><a target="_blank" href="https://twitter.com/idcyberuk"><i class="fab fa-twitter-square"></i> ID Cyber</a></li>
        <li><a target="_blank" href="https://twitter.com/pwnDefend"><i class="fab fa-twitter-square"></i> pwnDefend</a></li>
        <li><a target="_blank" href="https://twitter.com/Octopi_MS"><i class="fab fa-twitter-square"></i> Octopi Managed Services</a></li>
        <li><a target="_blank" href="https://twitter.com/exabeam"><i class="fab fa-twitter-square"></i> Exabeam</a></li>
      </ul>
    </li>
    <br/>
    <li>
      Special Shoutouts
      <ul>
        <li><a target="_blank" href="https://twitter.com/5w0rdFish"><i class="fab fa-twitter-square"></i> Chrissy Morgan</a></li>
        <li><a target="_blank" href="https://twitter.com/RayRedacted"><i class="fab fa-twitter-square"></i> Ray [REDACTED]</a></li>
        <li><a target="_blank" href="https://twitter.com/lennaert89"><i class="fab fa-twitter-square"></i> Lennaert Oudshoorn</a></li>
        <li><a target="_blank" href="https://twitter.com/BeeFauBee09"><i class="fab fa-twitter-square"></i> Bee</a></li>
        <li><a target="_blank" href="https://twitter.com/rag_sec"><i class="fab fa-twitter-square"></i> Rag</a></li>
        <li><a target="_blank" href="https://twitter.com/TheCyberViking"><i class="fab fa-twitter-square"></i> Dean</a></li>
        <li><a target="_blank" href="https://twitter.com/juan_spinel"><i class="fab fa-twitter-square"></i> Juan Spinel</a></li>
        <li><a target="_blank" href="https://twitter.com/yellowcap_ghost"><i class="fab fa-twitter-square"></i> Ben Ellis</a></li>
        <li><a target="_blank" href="https://twitter.com/CyberSecV"><i class="fab fa-twitter-square"></i> Vix Szymanska</a></li>
      </ul>
    </li>
    <br/>
    <li>
      Thanks for letting me use your work/research !
      <ul>
        <li><a target="_blank" href="https://twitter.com/LisaForteUK"><i class="fab fa-twitter-square"></i> Lisa Forte</a></li>
        <li><a target="_blank" href="https://twitter.com/tautology0"><i class="fab fa-twitter-square"></i> David Lodge</a></li>
        <li><a target="_blank" href="https://twitter.com/smealum"><i class="fab fa-twitter-square"></i> smea</a></li>
      </ul>
    </li>
  </ul>
</app-post-body>