<h4>~$ Find me here</h4>
<div class="center d-flex flex-row justify-content-center flex-wrap">
  <div class="mx-2"><a target="_blank" href="https://twitter.com/AtomicNicos"><i class="fab fa-twitter-square fa-2x"></i></a></div>&#x200b;
  <div class="mx-2"><a target="_blank" href="https://linkedin.com/in/nicolas-boeckh"><i class="fab fa-linkedin fa-2x"></i></a></div>&#x200b;
  <div class="mx-2"><a target="_blank" href="https://github.com/AtomicNicos"><i class="fab fa-github-square fa-2x"></i></a></div>&#x200b;
  <div class="mx-2"><a target="_blank" href="https://gitlab.unige.ch/Nicolas.Boeckh"><i class="fab fa-gitlab fa-2x"></i></a></div>&#x200b;
</div>
