<h4>~$ Find me here</h4>
<div class="center d-flex flex-row justify-content-center flex-wrap">
  <div class="mx-2"><a target="_blank" href="https://twitter.com/AtomicNicos" rel="noopener"><em class="fab fa-twitter-square fa-2x"></em></a></div>&#x200b;
  <div class="mx-2"><a target="_blank" href="https://linkedin.com/in/nicolas-boeckh" rel="noopener"><em class="fab fa-linkedin fa-2x"></em></a></div>&#x200b;
  <div class="mx-2"><a target="_blank" href="https://github.com/AtomicMaya" rel="noopener"><em class="fab fa-github-square fa-2x"></em></a></div>&#x200b;
  <div class="mx-2"><a target="_blank" href="https://gitlab.unige.ch/Nicolas.Boeckh" rel="noopener"><em class="fab fa-gitlab fa-2x"></em></a></div>&#x200b;
  <div class="mx-2"><a target="_blank" href="https://keybase.io/atomicmaya" rel="noopener"><em class="fas fa-key fa-2x"></em></a></div>&#x200b;
  <div class="mx-2"><a target="_blank" href="https://tech.lgbt/@AtomicMaya" rel="noopener"><em class="fab fa-mastodon fa-2x"></em></a></div>&#x200b;
</div>
