<app-post-body [post]="this.post" [date]="this.post.date">
  <p>As October rolls around, one of my favourite events was slated to take place again, namely BeerCon4, the 4th iteration of the conference organized by <a target="_blank" href="https://twitter.com/thebeerfarmers" rel="noopener"><em class="fab fa-twitter-square"></em> The Beer Farmers</a> that I first spoke at as a Rookie (<a href='/post/2020/2020_11_02+I-gave-a-talk-at-BeerCon2' target="_blank"><em class="fas fa-link"></em> link</a>), and where I volunteered the next year (<a href='/post/2021/2021_10_30+beercon3' target="_blank"><em class="fas fa-link"></em> link</a>).</p>

  <p>BeerCon was that kind of event which was very community focused, and this time it was slated to take place in the middle of DTX360, a trade exposition in London.</p>

  <p>Since I had signed on for volunteering, I hopped on a flight from Geneva to London, where I arrived the day before the conference. Navigating London was a bit of an experience for the first time, but I quickly made it to my hotel, which was a 20-minute walk from the Expo hall.</p>

  <p>Since I was not planning on doing much that afternoon, I headed out to the event premises to meet up with <a target="_blank" href="https://twitter.com/phat_hobbit" rel="noopener"><em class="fab fa-twitter-square"></em> Ian</a> and see how it was being set up.</p>

  <p>That may have been a very lucky idea, as it allowed me to scope out and resolve the issues we were going to run into, such as:</p>

  <ul>
    <li>Defining the actual needs in terms of A/V</li>
    <li>Audio routing</li>
    <li>Video streaming to Twitch and relevant assets</li>
    <li>Placeholder assets</li>
    <li>A/V routing panels</li>
  </ul>

  <p>The next day, I linked up with <a target="_blank" href="https://twitter.com/ddsgerard" rel="noopener"><em class="fab fa-twitter-square"></em> Ger</a> and <a target="_blank" href="https://infosec.exchange/@davewm" rel="noopener"><em class="fab fa-mastodon"></em> Dave</a>, who were my fellow roadies for the event, and we headed out to the expo hall, where we linked up with Ian, <a target="_blank" href="https://twitter.com/NikkiC360" rel="noopener"><em class="fab fa-twitter-square"></em> Nikki</a> and <a target="_blank" href="https://twitter.com/LisaForteUK" rel="noopener"><em class="fab fa-twitter-square"></em> Lisa</a>, the on-premises BeerFarmers.</p>

  <p>The A/V setup itself contained an impressive amount of kit, as it needed to field audio from the various headsets and microphones, handle the video feeds from the camera and the slides, as well as handle the on-premises output (which did not require streaming assets) and the Twitch output (which did).</p>

  <div class='media-container'>
    <img loading="lazy" style='max-width: 70%;' src='/assets/images/post/2022/221015-beercon4/av.jpeg' alt="Picture of the audiovisual setup." />
    <span><em>The A/V setup</em></span>
  </div>

  <p>From the picture above, you can see my laptop to the right (which I was using to make the slides of my talk), the Zoom laptop in the middle (as we were patching in <a target="_blank" href="https://twitter.com/AppSecBloke" rel="noopener"><em class="fab fa-twitter-square"></em> Mike</a> and the remote speakers) and the "emergency" laptop on the left (for speakers that only brought a USB stick).</p>

  <div class='media-container'>
    <img loading="lazy" style='max-width: 70%;' src='/assets/images/post/2022/221015-beercon4/audio-switch.jpeg' alt="Picture of the audio switching board." />
    <span><em>The Audio board</em></span>
  </div>

  <p>The audio mixing was the most precarious aspect of the whole event, as we had to patch sound into the local speakers, to Twitch and to Zoom, without causing feedback loops (which BeerCon3 initially suffered from). To that effect, we were equipped with the above audio switch, which handle inputs from the 5 headsets, the handheld microphone, the Zoom output, the broadcast computer and the presenter's lectern.</p>

  <div class='media-container'>
    <img loading="lazy" style='max-height: 500px' src='/assets/images/post/2022/221015-beercon4/video-switch.jpeg' alt="Picture of the video switching board." />
    <span><em>The Video switch</em></span>
  </div>

  <p>The various condensed outputs were then cast into two video switches. The upper one handled which feeds were being provided to OBS for streaming, and the lower one handled which feeds were sent to the TV behind the presenter.</p>

  <div class='media-container'>
    <img loading="lazy" style='max-width: 70%;' src='/assets/images/post/2022/221015-beercon4/av-will.jpeg' alt="Picture of the audiovisual setup, but live." />
    <span><em>The fully operational A/V setup (ft. my friend <a target="_blank" href="https://twitter.com/bushidotoken" rel="noopener"><em class="fab fa-twitter-square"></em> Will</a>)</em></span>
  </div>

  <p>At the end of the first day, we all hung out at the CyberHouseParty (a not-so-after party), where many neon sticks were abused.</p>

  <p>On the second day, a lot was the same, with the exception that we had switched some talks around to accommodate <a target="_blank" href="https://twitter.com/TheKenMunroShow" rel="noopener"><em class="fab fa-twitter-square"></em> Ken Munro</a>, who preferred to give the talk in person on the first day.</p>

  <p>This ended with me taking the final "keynote"-ish slot, where I sorted out my own A/V and gave a talk about organizing and running conferences, which was somewhat meta, given the givens.</p>

  <p>On the next day I just hung out a bit and had a stroll around London, where I visited St. James' Park...</p>

  <div class='media-container'>
    <img loading="lazy" style='max-height: 500px' src='/assets/images/post/2022/221015-beercon4/squirrel.jpeg' alt="Picture of a squirrel." />
    <span><em>A friendly squirrel.</em></span>
  </div>

  <p>... saw Buckingham Palace, ...</p>

  <div class='media-container'>
    <img loading="lazy" style='max-width: 70%' src='/assets/images/post/2022/221015-beercon4/buckingham.jpeg' alt="Picture of Buckingham Palace." />
    <span><em>Buckingham Palace</em></span>
  </div>

  <p>... and Big Ben.</p>

  <div class='media-container'>
    <img loading="lazy" style='max-height: 500px' src='/assets/images/post/2022/221015-beercon4/big-ben.jpeg' alt="Picture of Big Ben." />
    <span><em>Big Ben</em></span>
  </div>
</app-post-body>
