---
const today = new Date();
---

<footer class="py-4 mt-3 footer">
  <div class="container center">
    <a href="/copyright/">Copyright CC-BY-NC-SA</a> maya aka. Δ-551724 oka. AtomicMaya thru. 2020-{today.getFullYear()}<br/>
    (<a href="/privacy-policy/">Privacy Policy</a>)
  </div>
</footer>
<style> 
  footer {
    border-top: 1px dashed #b5e853;
  }
</style>