<app-post-body [post]="this.post" [date]="this.post.date">
<p>The end of October is the anniversary of a pretty important milestone in my life. Indeed, in October of 2021, I <a target='_blank' href='/post/2020/2020_11_02%2BI-gave-a-talk-at-BeerCon2' rel='noopener'><em class="fas fa-external-link-square-alt"></em> gave my first ever talk</a>, at BeerCon 2!</p>

<p>So when BeerCon 3 came around, I threw my hat in the ring again, with the hopes that I could bring my newfound love for public speaking to the event which I consider the cradle for that facet of my activities.</p>

<p>Surprisingly, even though the organizers know me, my talk was accepted! &lt;/sarcasm&gt;</p>

<p>I have been trending towards less IoT heavy talks lately, and this talk was no exception! I tried my hand at trying to convince people that JavaScript was an AppSec nightmare (not that anyone needed convincing that it was a nightmare regardless).</p>

<p>Beyond giving a talk, this year I was helping out behind the scenes, mainly with pre-flight checks for the speakers, but also helping out with a small bot for our Discord channel, that would forward whatever was posted in one channel to the Grafana dashboard used by The Beer Farmers during the conference!</p>

<p>On the day of though, a few technical issues made it so that the recording of my talk wasn't actionable, and I still need to re-record it!</p>

<p>Overall a very fun event, maybe I'll go to BeerCon 4 in person next year!</p>

</app-post-body>
