<app-post-body [post]="this.post" [date]="this.post.date">
  <p>One of the random things I did this year was to undergo the qualifications for Wavestone's "Wavegame" competition (which is a thinly veiled recruitment strategy that focuses on university students only, led by a French consulting company).</p>

  <p>Most of the teams were from French universities, and only a handful of us were joining in from Switzerland, with 2 of us (including myself) joining from the <a target="_blank" href="https://unige.ch" rel="noopener"><em class="fas fa-external-link-square-alt"></em> University of Geneva (UNIGE)</a>, and the 4 others joining from the <a target="_blank" href="https://epfl.ch" rel="noopener"><em class="fas fa-external-link-square-alt"></em> Ecole Polytechnique Fédérale de Lausanne (EPFL)</a>, providing us with an overall heterogeneous group that had capabilities in Computer Science, Information Systems and Data Science.</p>

  <p>Due to an array of circumstances, we ended up in the "Green Wavers" track, which focused on cloud environments, devops and security, as opposed to the "Blue Wavers" (Blue Teaming) and the "Yellow Wavers" (Policy). This was a bit of a rough ride, as most of us had only peripherally worked with platforms such as AWS and the like.</p>

  <p>The competition took the shape of 3 prequalification rounds (each on the same task of a website for Paris' 2024 Olympics, but with iteratively more complex requirements):</p>

  <ol>
    <li>From a base monolithic architecture, convert it to a microservices architecture, add security groups and integrate an RDS (database) into the system;</li>
    <li>Configuring a CI/CD pipeline;</li>
    <li>Adding FinOps observations, IAM, Operations oversight, and handling resiliency.</li>
  </ol>

  <p>By the end of it all, we were down to 4 team members, and had placed:</p>

  <ol>
    <li>3rd (with 75 points)</li>
    <li>1st (with 84 points)</li>
    <li>2nd (with 86 points)</li>
  </ol>

  <p>This enabled us to qualify to go to Paris for the finals, from the 11th to the 13th of May.</p>

  <app-collapsible buttonText="Sightseeing (May 11th)" [active]="false">
    <div class='media-container'>
      <img height='400' src='/assets/images/2022/220515-wavegame/day1-01.jpeg' alt='A mural in Paris' />
      <p>A mural in Paris</p>
    </div>

    <div class='media-container'>
      <img width='400' src='/assets/images/2022/220515-wavegame/day1-02.jpeg' alt="The 13th district's town hall" />
      <p>The 13th district's town hall</p>
    </div>

    <div class='media-container'>
      <img width='400' src='/assets/images/2022/220515-wavegame/day1-03.jpeg' alt='The Pantheon' />
      <p>The Pantheon</p>
    </div>

    <div class='media-container'>
      <img height='400' src='/assets/images/2022/220515-wavegame/day1-04.jpeg' alt='A statue in the Luxembourg Gardens' />
      <p>A statue in the Luxembourg Gardens</p>
    </div>

    <div class='media-container'>
      <img height='400' src='/assets/images/2022/220515-wavegame/day1-05.jpeg' alt='The Medici fountain in the Luxembourg Gardens' />
      <p>The Medici fountain in the Luxembourg Gardens</p>
    </div>

    <div class='media-container'>
      <img height='400' src='/assets/images/2022/220515-wavegame/day1-06.jpeg' alt="A building's architectural column" />
      <p>A building's architectural column</p>
    </div>

    <div class='media-container'>
      <img width='400' src='/assets/images/2022/220515-wavegame/day1-07.jpeg' alt='The statues on the Square of the Nation, illuminated, with the picture taken at night' />
      <p>The statues on the Square of the Nation</p>
    </div>
  </app-collapsible>

  <p></p>

  <app-collapsible buttonText="Sightseeing (May 13th)" [active]="false">
  </app-collapsible>


- Last round
- Winning
- Party on the evening
</app-post-body>
