<app-post-body [post]="this.post" [date]="this.post.date" [edited]="[2023, 09, 03]">
  <p>I recently attended SteelCon, also known as "The North's Premier Hacker* Con" in Sheffield, to talk about my numerous war crimes (in JavaScript), as well as the beautiful esoterism of JSFuck.</p>

  <p>This tale starts like so many others, with me landing in London, dealing with some work bits, travelling to the train station and praying that my train isn't cancelled, delayed or otherwise impaired.</p>

  <p>Once I had arrived in Sheffield, I met up with Emily (<a target="_blank" href="https://twitter.com/nyxilar" rel="noopener"><em class="fab fa-twitter-square"></em> @nylixar</a>) whom you might remember from my last blog post (which you can read <a href='/post/2023/2023_05_11+a-phishing-expedition' target="_blank"><em class="fas fa-link"></em> here</a>) and we headed over to the unofficial pre-sides event (which, as this is not a BSides, is probably not aptly named, oops) where we had a fun moment where we reconvened with the gang.</p>

  <p>The next day, as is tradition, I woke up early and went to a coffee shop in order to actually finish writing the slidedeck for my talk, assisted by a quadruple shot espresso to get the brain juices flowing.</p>

  <p>Once that was done, I joined the festivities at the Sheffield Hallam University's Owen building, where I met up with many of my conference friends and took stake of the premises.</p>

  <p>I first attended Scott McGready's (<a target="_blank" href="https://twitter.com/ScottMcGready" rel="noopener"><em class="fab fa-twitter-square"></em> @ScottMcGready</a>) talk, which was about a lot of fun fails by cyber criminals and was very entertaining.</p>

  <p>I then went to see Alice McGready's (<a target="_blank" href="https://twitter.com/ach_fooey" rel="noopener"><em class="fab fa-twitter-square"></em> @ach_fooey</a>) talk, which brought to light that although we communicate using a same set of words and characters, that does not necessarily mean we are saying the same things, which was extremely enlightening.</p>

  <p>And later on came the time for me to give my own talk, which was titled <em>How being a JavaScript CTF challenge creator (/alleged “war criminal”) has helped me at reverse-engineering</em>, wherein I delved the intricacies of CTF challenge creation and what I have created in the past - which people disaffectionately call my <em>war crimes</em> - before devolving into the territory of how I like to create challenges, namely the beautiful and esoteric language that is <a target="_blank" href="https://jsfuck.com" rel="noopener"><em class="fas fa-external-link-square-alt"></em> JSFuck</a>. I then did a deep-dive into the actual semantics and function of this language before explaining how that knowledge has been relevant to me outside of CTF's, for example in the context of the aforementioned phishing expedition (which, once more, you can find <a href='/post/2023/2023_05_11+a-phishing-expedition' target="_blank"><em class="fas fa-link"></em> here</a>).</p>

  <p>The video, emcee'd by my friend Emily (<a target="_blank" href="https://twitter.com/nyxilar" rel="noopener"><em class="fab fa-twitter-square"></em> @nylixar</a>), can be found here:</p>

  <div class='media-container'>
    <iframe loading="lazy" style="width: 70%; max-height: 300px; height: 300px" src="https://www.youtube.com/embed/FS-nesZqO4Y?si=-BCEvpBwfg-Vifpu" title="YouTube video player" allowfullscreen></iframe>
  </div>

  <p>After that, it was time to enjoy the rest of the conference, before going to the inevitable afterparty, where I met both Jade and May with whom I had several fascinating interactions throughout the evening, despite the cosmic downpour of rain that we were subject to.</p>

  <p>The next day, I packed up my stuff, and took a train back down to London with Emily and Jade, which was delayed and the last leg of which we very excitedly were mapping the estimated time of arrival to see if we could benefit from LNER's delay-repay scheme (we fell short by about 10 seconds from the 30 minute mark).</p>

  <hr>

  <p><strong>ADDENDUM</strong></p>

  <p>A few weeks later, Alice (<a target="_blank" href="https://twitter.com/ach_fooey" rel="noopener"><em class="fab fa-twitter-square"></em> @ach_fooey</a>) wrote a post describing her BSides Leeds and SteelCon experiences, which you can read <a target="_blank" href="https://www.linkedin.com/pulse/id-cyber-solutions-conference-report-bsides-leeds-steelcon%3FtrackingId=T9ggCHTdSg%252BX2I4ysKHuww%253D%253D/?trackingId=T9ggCHTdSg%2BX2I4ysKHuww%3D%3D" rel="noopener"><em class="fas fa-external-link-square-alt"></em> here</a>.</p>

  <p>She mentions my talk specifically, stating that I had "structured [my] talk carefully and in such a way that anyone, possibly even someone with no coding knowledge whatsoever, could follow [my] logic", which - given the nature of her own talk that preceded mine and which delved on the nature of communication - I consider to be very high praise.</p>
</app-post-body>
