<header class="mb-3">
  <div class="container">
    <a id="a-title" href="/">
      <h1 class="ms-2">atomicmaya&#x200b;@1337m4ch1n3</h1>
    </a>
    <h2>AtomicMaya's Blog at the end of the universe.</h2>

    <nav>
      <ul class="nav-lists d-flex flex-row flex-wrap">
        <li class="paths align-middle my-auto justify-content-center">Paths:</li>
        <li class="nav-elements"><a href="/whoami">~$ whoami</a></li>
        <li class="nav-elements"><a href="/posts">~$ ls -la ./posts</a></li>
      </ul>
    </nav>
  </div>
</header>
