<app-post-body [post]="this.post" [date]="this.post.date">
  <p>Happy new year!</p>

  <p>This year I am going to be slowing down a bit, mainly on the public speaking side. I'll still be at events, though! Just less frequently on a stage.</p>

  <p>I've added a <a href='/wip' target="_blank"><em class="fas fa-link"></em> ./.wip</a> page, which will hint at posts that are in my brain space but not yet ready for consumption.</p>

  <p>The <a href='/calendar' target="_blank"><em class="fas fa-link"></em> ./.calendar</a> page is a list of the next events I'm likely to be found at, so poke me if you want to chat!</p>
</app-post-body>
