<app-post-body [post]="this.post" [date]="this.post.date">
  <p>in an age where the internet is overrun with content that is procedurally generated and generally rehashed computer model vomit and SEO optimization, it is always refreshing to see a website that looks like it was designed in 2005, and looks like it uses technology from that era as well.</p>

  <p>the average shift in mentality from "basically designed website is bad" to "it is now the last bastion of truth on the internet" has been quite interesting to see, and quite refreshing as well.</p>

  <p>anyways, in that mentality, given this blog is mostly a place for me to dump some thoughts, and is also mostly generated HTML that is served statically, i have decided to also introduce some other parts of the "small internet" era to this blog.</p>

  <p>namely, webrings! and 88x31 badges.</p>

  <h4>webrings are cute</h4>

  <p>webrings are basically a list of websites centered around a topic, which all contain a link to the previous and next website in the ring.</p>

  <p>currently this blog is a part of the <a href='https://fediring.net/' target="_blank"><em class="fas fa-external-link-square-alt"></em> fediring.net</a>, a collection of websites from users of the fediverse, the network of self-hosted instances that - to some extent - communicate using the ActivityPub protocol.</p>

  <h4>oh hey, cute lil' badges</h4>

  <p>an 88x31 is a small pixelated image of dimensions 88 by 31 pixels, which basically has one of two functions: either a personal button, which is representative of the identity of the creator, or a communal button, which is representative of an action / a group / a thought that one associates with.<p></p>

  <p>the 88x31 associated with this website is the following:</p>

  <div class="media-container">
    <img src="https://atomicmaya.me/assets/images/88x31/personal.png" alt="my 88x31" width="176" loading="lazy" />
    <span><em>ta-daaaa</em></span>
  </div>

  <p>it is in similar hues to the color scheme of this website, and contains an atom (atomic), my name (maya), a delta (showcasing variance that i have experienced) and something which is redacted (showing that this is only a partial interface to myself)</p>

  <p>specifically, the font used for this was retrieved from the <a href="https://int10h.org/oldschool-pc-fonts/" target="_blank"><em class="fas fa-external-link-square-alt"></em> The Ultimate Oldschool PC Font Pack</a></p>

  <p>a few interesting tidbits on designing an 88x31 were pulled from my friend ariana's blog <a href="https://adryd.com/pages/88x31-notes/" target="_blank"><em class="fas fa-external-link-square-alt"></em> 88x31 notes</a>, which is an invaluable resource on the matter</p>

  <p>anyways, see you on the "small internet"</p>
</app-post-body>
