<h1>~$ whoami</h1>
<h6>I'm someone, at least I think. The latter is enough, if you ask René Descartes.</h6>
<p>Anyways, I look something like this at my most serious :</p>
<div class="media-container">
  <img class="profile" src="/assets/images/me.jpg" alt="A picture of me."/>
</div>
<br/>
<app-collapsible buttonText="Base Info & tl;dr" [active]="true">
  <ul>
    <li><g-emoji class="g-emoji" alias="telescope" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f52d.png">🔭</g-emoji> I'm a Student, a Developer and InfoSec/OSINT enthusiast.</li>
    <li><g-emoji class="g-emoji" alias="seedling" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f331.png">🌱</g-emoji> I'm currently learning Coding for OSINT.</li>
    <li><g-emoji class="g-emoji" alias="dancers" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f46f.png">👯</g-emoji> I'm looking to collaborate on InfoSec, OSINT, Development and any combination thereof.</li>
    <li><g-emoji class="g-emoji" alias="speech_balloon" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f4ac.png">💬</g-emoji> Ask me about Development, Development Security, IoT security and IoT/Mobile Infrastructure.</li>
    <li><g-emoji class="g-emoji" alias="smile" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f604.png">😄</g-emoji> Pronouns: He/They/Them</li>
    <li><g-emoji class="g-emoji" alias="zap" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/26a1.png">⚡</g-emoji> Fun fact: I enjoy (chili) coffee and cheese.</li>
  </ul>
</app-collapsible>
<app-collapsible buttonText="How did I get here ?">
  <p>I'm involved in quite a few things, but I started out as some shitty kid with no computer knowledge from somewhere in France.</p>
  <p>When I was small I wanted to become something cool, like a rocket scientist, or a bio-mechanical engineer (in my mind someone who builds all these really cool prostheses and stuff). Alas, the realities of life caught up to me.<br/>
    In high school, I noticed my aptitude in maths, physics and the like was acceptable, but wasn't stellar.</p>
  <p>What I did notice, was that I was pretty good in an elective class called "Computer systems and digital sciences", and furthermore, that I was interested by the field.<br/>
    So started my fall into all things computer.</p>
  <p>Back in 2015, I started out with Python and completed a small project called METARix. That little project took meteorological data from airplane strips, and was able to translate forecast data to English and project a landing angle for planes on runways.<br/>
    That got me hooked.</p>
  <p>Of course, I failed some other classes and didn't have the grades to go to university in Switzerland (which, if you know the French university system, is a big deal).<br/>
    My solution ? Redo my last year.</p>
  <p>That got me a year where I could go over some details I'd forgotten, but it also got me to take that elective again, where I outperformed myself and learned more about the field (as well as some Java and C++).</p>
  <p>I graduated with some pretty good marks, and managed to enroll in EPFL (one of Switzerland's top polytechnical universities) in Computer Science, which was "the dream".<br/>Spoiler alert: I failed. Hard. All of the higher level maths were coming to bite me in the ass.</p>
  <p>So, what next ?<br/>
    After some searching, I enrolled at the University of Geneva, in the Institute for Information Systems and Service Sciences, where I am studying to this day as an undergraduate.</p>
  <p>There, I got more and more involved in security and sideloaded infosec.</p>
</app-collapsible>
<app-collapsible buttonText="What do I do now ?">
  <p>I'm primarily a student at the Institute for Information Systems and Service Sciences, where I'm in my 3rd year of my Bachelor's Degree.<br/>
    - I also work as a workshop host for students from middle- and high-school, where they can become more acquainted with the world of computers.<br/>
    - I am a teaching assistant for 2 classes: "Introduction to Programming" and "Software & Computer Networks".</p>
  <p>I partake quite actively in our student body association, where I act as community manager and secretary.</p>
  <p>Back in 2019, I started to work as a software developer in a (to-be-open-sourced) project concerning IoT, mobile development and pollution, which is still currently [REDACTED].</p>
  <p>In 2020, I co-founded an association with friends at the end of a hackathon, and our aim is to create a platform where people can easily acquire relevant information when victims of domestic abuse.</p>
  <p>I also subsequently got more involved in infosec communities, joining infosec happy hour and TMHC, and also giving my first ever talk !</p>
</app-collapsible>
<app-collapsible buttonText="What are my skillz ?">
  <p>Mainly development ! I am knowledgeable in Python, Java, Scala, C, Dart, JS, TS, PHP, C++ and am looking to skill up in Ruby, Golang and Rust.</p>
  <p>I've started some stuff in infosec, mainly pentesting and the like, but also need to skill up.</p>
  <p>Finally, I'm not too shabby / progressively getting better at OSINT !</p>
</app-collapsible>
