<h1>~$ whoami</h1>
<h6>I'm someone, at least I think. The latter is enough, if you ask René Descartes.</h6>
<p>Anyways, I look something like this at my most serious:</p>
<div class="media-container">
  <img class="profile" src="/assets/images/me.jpg" alt="A picture of me."/>
</div>
<br/>
<app-collapsible buttonText="Base Info & tl;dr" [active]="true">
  <ul>
    <li><g-emoji class="g-emoji" alias="smile" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f604.png">😄</g-emoji> Pronouns: <strong>they/them</strong></li>
    <li>🏳️‍🌈</li>
    <li><g-emoji class="g-emoji" alias="smile" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/26a7.png">🏳️‍⚧️</g-emoji></li>
    <li><g-emoji class="g-emoji" alias="telescope" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f52d.png">🔭</g-emoji> I'm a Student, a Developer, an InfoSec/OSINT enthusiast and a CTF player.</li>
    <!--<li><g-emoji class="g-emoji" alias="seedling" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f331.png">🌱</g-emoji> I'm currently learning Coding for OSINT.</li>-->
    <li><g-emoji class="g-emoji" alias="sparkles" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2728.png">✨</g-emoji> I am one of the Community Managers at <a target="_blank" href="https://digitaloverdose.tech/" rel="noopener"><em class="fas fa-external-link-square-alt"></em> Digital Overdose</a>, an infosec community on Discord, where I also organize the <a target="_blank" href="https://digitaloverdose.tech/conference" rel="noopener"><em class="fas fa-external-link-square-alt"></em> D.O. Conference</a>!</li>
    <li><g-emoji class="g-emoji" alias="two_men_holding_hands" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f9d1.png">👬</g-emoji> I'm looking to collaborate on InfoSec, OSINT, Development and any combination thereof.</li>
    <li><g-emoji class="g-emoji" alias="speech_balloon" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f4ac.png">💬</g-emoji> Ask me about Development, Security and OSINT. Maybe also about various CTF challenges!</li>
    <li><g-emoji class="g-emoji" alias="zap" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/26a1.png">⚡</g-emoji> Fun fact: I enjoy (chili) coffee and cheese.</li>
  </ul>
</app-collapsible>
<app-collapsible buttonText="How did I get here?">
  <p>I'm involved in quite a few things, but I started out as some shitty kid with no computer knowledge from somewhere in Switzerland.</p>
  <p>When I was small I wanted to become something cool, like a rocket scientist, or a bio-mechanical engineer (in my mind someone who builds all these really cool prostheses and stuff). Alas, the realities of life caught up to me.<br/>
    In high school (in France), I noticed my aptitude in maths, physics and the like was acceptable, but wasn't stellar.</p>
  <p>What I did notice, was that I was pretty good in an elective class called "Computer systems and digital sciences", and furthermore, that I was interested by the field.<br/>
    So started my fall into all things computer.</p>
  <p>Back in 2015, I started out with Python and completed a small project called METARix. That little project took meteorological data from airplane strips, and was able to translate forecast data to English and project a landing angle for planes on runways.<br/>
    That got me hooked.</p>
  <p>Of course, I failed some other classes and didn't have the grades to go to university in Switzerland (which, if you know the French university system, is a big deal).<br/>
    My solution? Redo my last year.</p>
  <p>That got me a year where I could go over some details I'd forgotten, but it also got me to take that elective again, where I outperformed myself and learned more about the field (as well as some Java and C++).</p>
  <p>I graduated with some pretty good marks, and managed to enroll at EPFL (one of Switzerland's top polytechnical universities) in Computer Science, which was "the dream".<br/>Spoiler alert: I failed. Hard. All of the higher level maths were coming to bite me in the ass.</p>
  <p>So, what next?<br/>
    After some searching, I enrolled in the University of Geneva, in the Institute for Information Systems and Service Sciences, where I obtained a Bachelor's degree, and am now pursuing my Master's Degree.</p>
  <p>There, I got more and more involved in security and sideloaded infosec.</p>
</app-collapsible>
<app-collapsible buttonText="What do I do now?">
  <p>I'm primarily a student at the Institute for Information Systems and Service Sciences, where I'm in my 2nd year of a Master's Degree.<br/>
    - I used to be a teaching assistant for 3 classes: "Introduction to Programming", "Software & Computer Networks" and the "Transversal Class on the Digital".</p>
  <p>I used to partake quite actively in our student body association, where I acted as community manager and <span style='text-decoration: line-through;'>secretary</span><span style='padding-left: 5px'>
  </span><span style='text-decoration: line-through;'>vice-president</span> president, from 2019 until 2022.</p>
  <p>Back in 2019, I started to work as a software developer in a (to-be-open-sourced) project concerning IoT, mobile development and pollution, which is still currently [REDACTED].</p>
  <p>Until 2020, I worked as a workshop host for students from middle- and high-school, where they can become more acquainted with the world of computers.</p>
  <p>In 2020, I co-founded an association with friends at the end of a hackathon, and our aim is to create a platform where people can easily acquire relevant information when victims of domestic abuse. (<em>EDIT 2021: I've since taken my leave from this project</em>)</p>
  <p>In 2021, I acquired my Bachelor's Degree in Information Systems and Service Sciences.</p>
  <p>I also subsequently got more involved in infosec communities, joining Infosec Happy Hour (<em>EDIT 2022: Defunct</em>) and TMHC (<em>EDIT 2022: Defunct</em>), and also giving my first ever talk!</p>
</app-collapsible>
<app-collapsible buttonText="What are my skillz?">
  <p>Mainly development! I've worked with Python, Java, Scala, Golang, C, Dart, JS, TS, PHP, C++ and am looking to skill up in Ruby and Rust.</p>
  <p>I'm familiar with a growing number of topics in Infosec.</p>
  <p>Finally, I'm not too shabby at OSINT!</p>
</app-collapsible>
