<div class="pt-3 mt-3 footer">
  <div class="container center">
    <p class="py-0 my-0"><u>creatures i find cool</u></p>

    <div class="d-flex flex-row flex-wrap justify-content-center p-2 my-0 align-items-center">
      <span *ngFor="let eeto of friend88x31List">
        <ng-container *ngIf="eeto.url; then link88x31; else nolink88x31"></ng-container>

        <ng-template #link88x31>
          <a *ngIf="eeto.url" href="{{ eeto.url }}" target="_blank">
            <img src="{{ eeto.image }}" alt="{{ eeto.alt }}" loading="lazy">
          </a>
        </ng-template>
        
        <ng-template #nolink88x31>
          <img src="{{ eeto.image }}" alt="{{ eeto.alt }}" loading="lazy">
        </ng-template>
      </span>
    </div>
    
    <p class="py-0 my-0"><u>buttons</u></p>

    <div class="d-flex flex-row flex-wrap justify-content-center p-2 my-0 align-items-center">
      <span *ngFor="let eeto of other88x31List">
        <ng-container *ngIf="eeto.url; then link88x31; else nolink88x31"></ng-container>

        <ng-template #link88x31>
          <a *ngIf="eeto.url" href="{{ eeto.url }}" target="_blank">
            <img src="{{ eeto.image }}" alt="{{ eeto.alt }}" loading="lazy">
          </a>
        </ng-template>
        
        <ng-template #nolink88x31>
          <img src="{{ eeto.image }}" alt="{{ eeto.alt }}" loading="lazy">
        </ng-template>
      </span>
    </div>

    <p class="pt-2 pb-0 mb-0">
      <a href="https://fediring.net/previous?host=atomicmaya.me">←</a>
      <a href="https://fediring.net/">Fediring</a>
      <a href="https://fediring.net/next?host=atomicmaya.me">→</a>
    </p>      
  </div>
</div>
