<div class="pt-3 mt-3 footer">
  <div class="container center">
    <p class="py-0 my-0"><u>creatures i find cool</u></p>

    <div class="d-flex flex-row flex-wrap justify-content-center p-2 my-0 align-items-center">
      <a href="https://atomicmaya.me"  target="_blank"><img loading="lazy" src="https://atomicmaya.me/assets/images/88x31/personal.png" alt="maya's 88x31"></a>
      <a href="https://999eagle.moe"  target="_blank"><img src="https://999eagle.moe/images/88x31/440729.png" alt="⛧-440729's button"></a>
      <a href="https://www.theresnotime.co.uk/button.png"><img src="https://www.theresnotime.co.uk/button.png" alt="theresnotime.co.uk button"></a>
      <a href="https://alyx.sh"  target="_blank"><img loading="lazy" src="https://alyx.sh/images/88x31/alyxv2.png" alt="Alyx's button"></a>
      <a href="https://fungal.locahlo.st" target="_blank"><img src="https://fungal.locahlo.st/medias/88x31/fungal.locahlo.st.png" alt="fungal's 88x31 stamp"></a>
      <a href="https://girlthi.ng/~thermia/" target="_blank"><img src="https://girlthi.ng/~thermia/img/88x31/thermia.gif" alt="thermia's button"></a>
      <a href="https://awawa.neocities.org" target="_blank"><img src="https://awawa.neocities.org/buttons/awawa.png" alt="awawa.neocities.org"></a>
      <a href="https://emma.pet" target="_blank"><img src="https://alyx.sh/images/88x31/emma.gif" alt="emma.pet button"></a>
    </div>
    
    <p class="py-0 my-0"><u>buttons</u></p>

    <div class="d-flex flex-row flex-wrap justify-content-center p-2 my-0 align-items-center">
      <!-- These button images from https://astrid.tech/ -->
      <img src="/assets/images/88x31/css-is-difficult.gif" alt="CSS is difficult">
      <!-- end -->
       <a href="https://fediring.net"><img src="https://fediring.net/static/badges/1.gif" alt="fediring.net badge"></a>
      <a href="https://glauca.digital"  target="_blank"><img loading="lazy" src="/assets/images/88x31/glauca.gif" alt="Glauca Digital"></a>
      <a href="https://voidgoddess.org/emptyspaces/notaperson/" target="_blank"><img src="/assets/images/88x31/88x31-nap.png" alt="not a person"></a>
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img src="/assets/images/88x31/cc-by-nc-sa.gif" alt="CC BY-NC-SA"></a>
      <img src="/assets/images/88x31/button-kills_fascists.png" alt="this machine kills fascists">
    </div>

    <p class="pt-2 pb-0 mb-0">
      <a href="https://fediring.net/previous?host=atomicmaya.me">←</a>
      <a href="https://fediring.net/">Fediring</a>
      <a href="https://fediring.net/next?host=atomicmaya.me">→</a>
    </p>      
  </div>
</div>
